<div class="mobile-menu">
   <div class="mobile-menu-container">
      <nav class="navigation navigation-mobile">
         <ul class="navigation-menu navigation-mobile-menu">
            <li class="navigation-mobile-item">
               <a href="index.html" class="navigation-mobile-link hover-line-light">home</a>
            </li>
            <li class="navigation-mobile-item">
               <a href="page-hotel.html" class="navigation-mobile-link hover-line-light">hotel</a>
            </li>
            <li class="navigation-mobile-item">
               <a href="page-restaurant.html" class="navigation-mobile-link hover-line-light">restaurant</a>
            </li>
         </ul>
      </nav>
      <div class="mobile-social-icons">
         <ul class="social-icons-list ">
            <li class="social-icon-item">
               <a href="" class="social-icon-link "><svg class="mobile-icon" target="_blank" rel="noreferrer noopener">
                     <use href="./img/icons/spray.svg#instagram"></use>
                  </svg></a>
            </li>
            <li class="social-icon_item">
               <a href="" class="social-icon-link"><svg class="mobile-icon" target="_blank" rel="noreferrer noopener">
                     <use href="./img/icons/spray.svg#facebook"></use>
                  </svg></a>
            </li>
            <li class="social-icon_item">
               <a href="" class="social-icon-link"><svg class="mobile-icon" target="_blank" rel="noreferrer noopener">
                     <use href="./img/icons/spray.svg#twitter"></use>
                  </svg></a>
            </li>
         </ul>
      </div>
   </div>
</div>