<!--for Restaurant Page section About a kitchen-->
<section class="about-a-kitchen">
    <div class="container">
        <div class="thumb">
            <picture class="chef">
                <source media="(min-width: 1440px)"
                    srcset="./img/img-restourant/rest-about-desktop-1x.jpg 1x, ./img/img-restourant/rest-about-desktop-2x.jpg 2x">
                <source media="(min-width: 768px)"
                    srcset="./img/img-restourant/rest-about-table-1x.jpg 1x, ./img/img-restourant/rest-about-table-2x.jpg 2x">
                <img srcset="./img/img-restourant/rest-about-mob-1x 1x, 
                ./img/img-restourant/rest-about-mob-2x.jpg 2x" alt="Chef">
            </picture>
            <div class="sub-thumb">
                <div class="pic-wrapper">
                    <picture>
                        <source media="(min-width: 1440px)"
                            srcset="./img/img-restourant/rest-about-desktop-2-1x.jpg 1x, ./img/img-restourant/rest-about-desktop-2-2x.jpg 2x">
                        <source media="(min-width: 768px)"
                            srcset="./img/img-restourant/rest-about-table-2-1x.jpg 1x, ./img/img-restourant/rest-about-table-2-2x.jpg 2x">
                        <img srcset="./img/img-restourant/rest-about-mob-2-1x 1x, ./img/img-restourant/rest-about-mob-2-2x.jpg 2x"
                            src="./img/img-restourant/rest-about-mob-2-1x.jpg" alt="Meats">
                    </picture>
                    <picture>
                        <source media="(min-width: 1440px)"
                            srcset="./img/img-restourant/rest-about-desktop-3-1x.jpg 1x, ./img/img-restourant/rest-about-desktop-3-2x.jpg 2x">
                        <source media="(min-width: 768px)"
                            srcset="./img/img-restourant/rest-about-table-3-1x.jpg 1x, ./img/img-restourant/rest-about-table-3-2x.jpg 2x">
                        <img srcset="./img/img-restourant/rest-about-mob-3-1x 1x, ./img/img-restourant/rest-about-mob-3-2x.jpg 2x"
                            src="./img/img-restourant/rest-about-mob-3-1x.jpg" alt="Coctails">
                    </picture>
                </div>
                <ul class="about-list">
                    <p class="about-text sup">At Mimino, we are experts in <strong class="font-italic">meat
                            preparation</strong>. Our chefs use only the finest and freshest ingredients to <strong
                            class="font-italic">create delicious dishes</strong> that showcase the flavors of premium
                        cuts of meat.</p>
                    <p class="about-text">Our <strong class="font-italic">slow-cooking process</strong>slow-cooking
                        process and expert seasoning bring out the best in each dish, making for an unforgettable dining
                        experience. Come taste the magic <strong class="font-italic">of meat preparation at</strong>
                        Mimino.</p>
                </ul>
            </div>
        </div>
    </div>
</section>