<!--for Restaurant Page section About a kitchen-->
<section class="about-a-kitchen">
    <div class="container">
        <div class="thumb">
            <img srcset="" src="" alt="">
            <div class="">
                <img srcset="" src="" alt="">
                <img srcset="" src="" alt="">
            </div>
        </div>
        <ul class="about-list">
            <p class="about-text">At Mimino, we are experts in meat preparation. Our chefs use only the finest and freshest ingredients to create delicious dishes that showcase the flavors of premium cuts of meat.</p>
            <p class="about-text">Our slow-cooking process and expert seasoning bring out the best in each dish, making for an unforgettable dining experience. Come taste the magic of meat preparation at Mimino.</p>
        </ul>
    </div>
</section>