<!--for Restaurant Page section Hero-->
<section class="hero">
    <div class="container hero-container">
        <div class="hero-container">
            <div class="hero-thumb">
                <div class="hero-content">
                    <div class="hero-half-thumb">
                        <h2 class="hero-title">Restaurant</h2>
                        <div class="hero-button">
                            <button class="button-light" type="button">Book a table</button>
                            <a class="button-light" href="#menu">View a menu</a>
                        </div>
                    </div>
                    <div class="hero-slick hotel-hero-slider">
                        <div class="slider-card">
                            <picture>
                                <source media="(min-width: 1440px)"
                                    srcset="./img/img-restourant/rest-slyader-desktop-1-1x.jpg 1x, ./img/img-restourant/rest-slyader-desktop-1-2x.jpg 2x">
                                <source media="(min-width: 768px)"
                                    srcset="./img/img-restourant/rest-slyader-table-1-1x.jpg 1x, ./img/img-restourant/rest-slyader-table-1-2x.jpg 2x">
                                <img srcset="./img/img-restourant/rest-slyader-mob-1-1x.jpg 1x, ./img/img-restourant/rest-slyader-mob-1-2x.jpg 2x"
                                    src="./img/img-restourant/rest-slyader-mob-1-1x.jpg" alt="Glasses">
                            </picture>
                        </div>
                        <div class="slider-card">
                            <picture>
                                <source media="(min-width: 1440px)"
                                    srcset="./img/img-restourant/rest-slyader-desktop-2-1x.jpg 1x, ./img/img-restourant/rest-slyader-desktop-2-2x.jpg 2x">
                                <source media="(min-width: 768px)"
                                    srcset="./img/img-restourant/rest-slyader-table-2-1x.jpg 1x, ./img/img-restourant/rest-slyader-table-2-2x.jpg 2x">
                                <img srcset="./img/img-restourant/rest-slyader-mob-2-1x.jpg 1x, ./img/img-restourant/rest-slyader-mob-2-2x.jpg 2x"
                                    src="./img/img-restourant/rest-slyader-mob-2-1x.jpg" alt="Glasses">
                            </picture>
                        </div>
                        <div class="slider-card">
                            <picture>
                                <source media="(min-width: 1440px)"
                                    srcset="./img/img-restourant/rest-slyader-desctop-3-1x.jpg 1x, ./img/img-restourant/rest-slyader-desctop-3-2x.jpg 2x">
                                <source media="(min-width: 768px)"
                                    srcset="./img/img-restourant/rest-slyader-table-3-1x.jpg 1x, ./img/img-restourant/rest-slyader-table-3-2x.jpg 2x">
                                <img srcset="./img/img-restourant/rest-slyader-mob-3-1x.jpg 1x, ./img/img-restourant/rest-slyader-mob-3-2x.jpg 2x"
                                    src="./img/img-restourant/rest-slyader-mob-3-1x.jpg" alt="Glasses">
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="hero-bottom">
                    <div class="arrows-container"></div>
                    <p class="hero-text">
                        Whether you're in the mood for a hearty breakfast, a light lunch, or a <strong
                            class="font-italic">romantic dinner</strong>, our menu has something for everyone.
                    </p>
                </div>
            </div>
        </div>
</section>