<!--for Restaurant Page Restaurant menu-->
<section id="menu" class="section-restaurant-menu">
  <div class="container-menu container">
    <h2 class="restaurant-menu-title">RESTAURANT MENU</h2>
    <ul class="restaurant-menu">
      <li class="restaurant-menu-list">
        <h3 class="restaurant-menu-list-title">Hot meals</h3>
        <ul class="restaurant-menu-small-list">
          <li class="restaurant-menu-item">
            <div class="meal-container">
              <p class="restaurant-menu-meal-title">Veal borscht with beans</p>
              <p class="restaurant-menu-meal-gram">400 g</p>
            </div>
            <div class="meal-container">
              <p class="restaurant-menu-meal-text">
                Veal, potatoes, cabbage, carrots, onions, beans, garlic,
                tomatoes, greens, sour cream
              </p>
              <p class="restaurant-menu-meal-price">240 UAH</p>
            </div>
          </li>
          <li class="restaurant-menu-item">
            <div class="meal-container">
              <p class="restaurant-menu-meal-title">Cheese soup with chicken</p>
              <p class="restaurant-menu-meal-gram">400 g</p>
            </div>
            <div class="meal-container">
              <p class="restaurant-menu-meal-text">
                Chicken, potatoes, carrots, onions, mushrooms, soft cheese,
                greens
              </p>
              <p class="restaurant-menu-meal-price">200 UAH</p>
            </div>
          </li>
          <li class="restaurant-menu-item">
            <div class="meal-container">
              <p class="restaurant-menu-meal-title">Carbonara pasta</p>
              <p class="restaurant-menu-meal-gram">400 g</p>
            </div>
            <div class="meal-container">
              <p class="restaurant-menu-meal-text">
                Tagliatelle pasta, bacon, cream, Parmesan cheese, egg, greens
              </p>
              <p class="restaurant-menu-meal-price">430 UAH</p>
            </div>
          </li>
          <li class="restaurant-menu-item">
            <div class="meal-container">
              <p class="restaurant-menu-meal-title">Pork steak</p>
              <p class="restaurant-menu-meal-gram">400 g</p>
            </div>
            <div class="meal-container">
              <p class="restaurant-menu-meal-text">
                Pork tenderloin, spices, served with sweet chili sauce and
                vegetables
              </p>
              <p class="restaurant-menu-meal-price">500 UAH</p>
            </div>
          </li>
          <li class="restaurant-menu-item">
            <div class="meal-container">
              <p class="restaurant-menu-meal-title">
                Gorbusha in white wine sauce
              </p>
              <p class="restaurant-menu-meal-gram">400 g</p>
            </div>
            <div class="meal-container">
              <p class="restaurant-menu-meal-text">
                Tender redfish, cream sauce based on white wine
              </p>
              <p class="restaurant-menu-meal-price">400 UAH</p>
            </div>
          </li>
        </ul>
      </li>
      <li class="restaurant-menu-list">
        <h3 class="restaurant-menu-list-title">Side dishes and snacks</h3>
        <ul class="restaurant-menu-small-list">
          <li class="restaurant-menu-item">
            <div class="meal-container">
              <p class="restaurant-menu-meal-title">Baked vegetables</p>
              <p class="restaurant-menu-meal-gram">200 g</p>
            </div>
            <div class="meal-container">
              <p class="restaurant-menu-meal-text">
                Zucchini, pepper, tomato, eggplant
              </p>
              <p class="restaurant-menu-meal-price">230 UAH</p>
            </div>
          </li>
          <li class="restaurant-menu-item">
            <div class="meal-container">
              <p class="restaurant-menu-meal-title">French fries</p>
              <p class="restaurant-menu-meal-gram">150 g</p>
            </div>
            <div class="meal-container">
              <p class="restaurant-menu-meal-text">Potatoes, tomato sauce</p>
              <p class="restaurant-menu-meal-price">160 UAH</p>
            </div>
          </li>
          <li class="restaurant-menu-item">
            <div class="meal-container">
              <p class="restaurant-menu-meal-title">Peasant-style potatoes</p>
              <p class="restaurant-menu-meal-gram">150 g</p>
            </div>
            <div class="meal-container">
              <p class="restaurant-menu-meal-text">
                Potatoes, spices, spicy sauces
              </p>
              <p class="restaurant-menu-meal-price">160 UAH</p>
            </div>
          </li>
          <li class="restaurant-menu-item">
            <div class="meal-container">
              <p class="restaurant-menu-meal-title">
                Crisp pickles from the barrel
              </p>
              <p class="restaurant-menu-meal-gram">250 g</p>
            </div>
            <div class="meal-container">
              <p class="restaurant-menu-meal-text">
                Salted cucumber, pickled tomato, sauerkraut, Korean carrot
              </p>
              <p class="restaurant-menu-meal-price">350 UAH</p>
            </div>
          </li>
          <li class="restaurant-menu-item">
            <div class="meal-container">
              <p class="restaurant-menu-meal-title">
                Chicken wings in honey sauce
              </p>
              <p class="restaurant-menu-meal-gram">400 g</p>
            </div>
            <div class="meal-container">
              <p class="restaurant-menu-meal-text">
                Chicken wings, mustard-honey sauce, served with carrots, celery
                and blue cheese sauce
              </p>
              <p class="restaurant-menu-meal-price"></p>
            </div>
          </li>
        </ul>
      </li>
      <li class="restaurant-menu-list">
        <h3 class="restaurant-menu-list-title">Salads</h3>
        <ul class="restaurant-menu-small-list">
          <li class="restaurant-menu-item">
            <div class="meal-container">
              <p class="restaurant-menu-meal-title">Caesar with chicken</p>
              <p class="restaurant-menu-meal-gram">230 g</p>
            </div>
            <div class="meal-container">
              <p class="restaurant-menu-meal-text">
                Chicken fillet, lettuce, cherry tomatoes, Parmesan cheese,
                croutons, Caesar sauce
              </p>
              <p class="restaurant-menu-meal-price">450 UAH</p>
            </div>
          </li>
          <li class="restaurant-menu-item">
            <div class="meal-container">
              <p class="restaurant-menu-meal-title">Caesar with shrimp</p>
              <p class="restaurant-menu-meal-gram">230 g</p>
            </div>
            <div class="meal-container">
              <p class="restaurant-menu-meal-text">
                Tiger shrimp, lettuce, cherry tomatoes, parmesan cheese,
                croutons, caesar sauce
              </p>
              <p class="restaurant-menu-meal-price">300 UAH</p>
            </div>
          </li>
          <li class="restaurant-menu-item">
            <div class="meal-container">
              <p class="restaurant-menu-meal-title">Greek salad</p>
              <p class="restaurant-menu-meal-gram">230 g</p>
            </div>
            <div class="meal-container">
              <p class="restaurant-menu-meal-text">
                Fresh cucumber, tomato, bell pepper, olives, brynza cheese,
                lettuce, sauce
              </p>
              <p class="restaurant-menu-meal-price">280 UAH</p>
            </div>
          </li>
          <li class="restaurant-menu-item">
            <div class="meal-container">
              <p class="restaurant-menu-meal-title">Meat salad</p>
              <p class="restaurant-menu-meal-gram">230 g</p>
            </div>
            <div class="meal-container">
              <p class="restaurant-menu-meal-text">
                Chicken fillet or pork tenderloin, fresh cucumber, tomato, bell
                pepper, ranch sauce
              </p>
              <p class="restaurant-menu-meal-price">300 UAH</p>
            </div>
          </li>
        </ul>
      </li>
      <li class="restaurant-menu-list menu-list-last">
        <div class="restaurant-menu-small-list">
          <h3 class="restaurant-menu-list-title">Desserts</h3>
          <ul>
            <li class="restaurant-menu-item meal-container">
              <p class="restaurant-menu-meal-title">Napoleon cake</p>
              <p class="restaurant-menu-meal-price">200 UAH</p>
            </li>
            <li class="restaurant-menu-item meal-container">
              <p class="restaurant-menu-meal-title">Poppy cake</p>
              <p class="restaurant-menu-meal-price">300 UAH</p>
            </li>
            <li class="restaurant-menu-item meal-container">
              <p class="restaurant-menu-meal-title">Tiramisu</p>
              <p class="restaurant-menu-meal-price">260 UAH</p>
            </li>
          </ul>
        </div>
        <div class="restaurant-menu-small-list">
          <h3 class="restaurant-menu-list-title">Drinks</h3>
          <ul>
            <li class="restaurant-menu-item meal-container">
              <p class="restaurant-menu-meal-title">Black/green tea</p>
              <p class="restaurant-menu-meal-price">100 UAH</p>
            </li>
            <li class="restaurant-menu-item meal-container">
              <p class="restaurant-menu-meal-title">Espresso</p>
              <p class="restaurant-menu-meal-price">100 UAH</p>
            </li>
            <li class="restaurant-menu-item meal-container">
              <p class="restaurant-menu-meal-title">Cappuccino</p>
              <p class="restaurant-menu-meal-price">100 UAH</p>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <button type="button" class="button-dark book-table-btn">
      book a table
    </button>
  </div>
</section>
