<!--Header for pages Main Restaurant Page , Hotel Page , Room Page-->
<header class="header">
  <div class="container header-flex-container">
    <button type="button" 
            class="menu-btn js-open-menu"
            aria-expanded="false"
            aria-controls="mobile-menu">
      O
      <svg class="btn-menu-open-icon" width="28" height="28">
        <use href="/src/img/icons/icons-sprite.svg#icon-menu-open-btn"></use>
      </svg>
    </button>
    <nav class="header-nav">
      <ul class="header-nav-list list">
        <li class="header-nav-item">
          <a href="/index.html" class="header-nav-link link current">home</a>
        </li>
        <li class="header-nav-item">
          <a href="/page-hotel.html" class="header-nav-link link">hotel</a>
        </li>
        <li class="header-nav-item">
          <a href="/page-restaurant.html" class="header-nav-link link"
            >restaurant</a
          >
        </li>
      </ul>
    </nav>
    <div class="header-logo-container">
      <a href="/index.html" class="logo-link link">Mimino</a>
      <p class="header-logo-text">restaurant-hotel complex</p>
    </div>
    <ul class="header-soc-list list">
      <li class="header-soc-item">
        <a href="" class="header-soc-link link"></a>
      </li>
      <li class="header-soc-item">
        <a href="" class="header-soc-link link"></a>
      </li>
      <li class="header-soc-item">
        <a href="" class="header-soc-link link"></a>
      </li>
    </ul>
  </div>

  <!-- -----MOB-MENU------ -->
  <div class="mob-menu js-menu-container" id="mobile-menu">
    <div class="header-flex-container header-menu-container">
      <button type="button" class="menu-btn js-close-menu">
        X
        <svg class="btn-menu-close-icon" width="28" height="28">
          <use href="/src/img/icons/icons-sprite.svg#icon-menu-close-btn"></use>
        </svg>
      </button>
      <div class="header-logo-container">
        <a href="/index.html" class="logo-menu-link link">Mimino</a>
        <p class="header-logo-menu-text">restaurant-hotel complex</p>
      </div>
    </div>
    <div class="nav-flex-container">
      <nav class="header-menu-nav">
        <ul class="header-menu-nav-list list">
          <li class="header-menu-nav-item">
            <a href="/index.html" class="header-menu-nav-link link">home</a>
          </li>
          <li class="header-menu-nav-item">
            <a href="/page-hotel.html" class="header-menu-nav-link link"
              >hotel</a
            >
          </li>
          <li class="header-menu-nav-item">
            <a href="/page-restaurant.html" class="header-menu-nav-link link"
              >restaurant</a
            >
          </li>
        </ul>
      </nav>
      <ul class="header-soc-list list">
        <li class="header-soc-item">
          <a href="#" class="header-soc-link link">
            <svg class="">
              <use></use>
            </svg>
          </a>
        </li>
        <li class="header-soc-item">
          <a href="#" class="header-soc-link link"></a>
        </li>
        <li class="header-soc-item">
          <a href="#" class="header-soc-link link"></a>
        </li>
      </ul>
    </div>
  </div>
</header>
