<!--Header for pages Main Restaurant Page , Hotel Page , Room Page-->
<header class="header">
  <div class="container header-flex-container">
    <button type="button" class="menu-btn">
      <svg class="btn-menu-open-icon" 
           width="28" 
           height="28">
<path d="M4 16H28M4 8H28M4 24H20"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>      </svg>
    </button>
    <nav class="header-nav">
      <ul class="header-nav-list list">
        <li class="header-nav-item">
          <a href="/index.html" class="header-nav-link link current">home</a>
        </li>
        <li class="header-nav-item">
          <a href="/page-hotel.html" class="header-nav-link link">hotel</a>
        </li>
        <li class="header-nav-item">
          <a href="/page-restaurant.html" class="header-nav-link link"
            >restaurant</a
          >
        </li>
      </ul>
    </nav>
    <div class="header-logo-container">
      <a href="/index.html" class="logo-link link">Mimino</a>
      <p class="header-logo-text">restaurant-hotel complex</p>
    </div>
      <ul class="header-menu-soc-top-list list">
        <li class="header-menu-soc-item">
          <a href="#" class="header-soc-link link">
            <svg class="header-menu-soc-icon soc-icon-fill">
     <use href="./img/icons/spray.svg#instagram"></use>          
            </svg>
          </a>
        </li>
        <li class="header-menu-soc-item">
          <a href="#" class="header-soc-link link">
        <svg class="header-menu-soc-icon soc-icon-fill">
    <use href="./img/icons/spray.svg#facebook"></use>

            </svg>
          </a>
        </li>
        <li class="header-menu-soc-item">
          <a href="#" class="header-soc-link link">
        <svg class="header-menu-soc-icon soc-icon-fill">
    <use href="./img/icons/spray.svg#twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
  </div>
  <!-- -----MOB-MENU------ -->
  <div class="mob-menu">
    <div class=" header-menu-container">
      <button type="button" class="menu-btn">
        <svg class="btn-menu-close-icon" width="28" height="28">
       <path d="M24 8L8 24M8 8L24 24"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
      <div class="header-logo-container">
        <a href="/index.html" class="logo-menu-link link">Mimino</a>
        <p class="header-logo-menu-text">restaurant-hotel complex</p>
      </div>
      <ul class="header-menu-soc-top-list list">
        <li class="header-menu-soc-item">
          <a href="#" class="header-menu-soc-link link">
            <svg class="header-menu-soc-icon">
     <use href="./img/icons/spray.svg#instagram"></use>          
            </svg>
          </a>
        </li>
        <li class="header-menu-soc-item">
          <a href="#" class="header-menu-soc-link link">
        <svg class="header-menu-soc-icon">
    <use href="./img/icons/spray.svg#facebook"></use>

            </svg>
          </a>
        </li>
        <li class="header-menu-soc-item">
          <a href="#" class="header-menu-soc-link link">
        <svg class="header-menu-soc-icon">
    <use href="./img/icons/spray.svg#twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

  

      <nav class="header-menu-nav">
        <ul class="header-menu-nav-list list">
          <li class="header-menu-nav-item">
            <a href="/index.html" class="header-menu-nav-link link">home</a>
          </li>
          <li class="header-menu-nav-item">
            <a href="/page-hotel.html" class="header-menu-nav-link link"
              >hotel</a
            >
          </li>
          <li class="header-menu-nav-item">
            <a href="/page-restaurant.html" class="header-menu-nav-link link"
              >restaurant</a
            >
          </li>
        </ul>
      </nav>
      <ul class="header-menu-soc-list list">
        <li class="header-menu-soc-item">
          <a href="#" class="header-menu-soc-link link">
            <svg class="header-menu-soc-icon">
     <use href="./img/icons/spray.svg#instagram"></use>          
            </svg>
          </a>
        </li>
        <li class="header-menu-soc-item">
          <a href="#" class="header-menu-soc-link link">
        <svg class="header-menu-soc-icon">
    <use href="./img/icons/spray.svg#facebook"></use>

            </svg>
          </a>
        </li>
        <li class="header-menu-soc-item">
          <a href="#" class="header-menu-soc-link link">
        <svg class="header-menu-soc-icon">
    <use href="./img/icons/spray.svg#twitter"></use>
            </svg>
          </a>
        </li>
      </ul>

  </div>
</header>