<!--for footer global-->
<footer class="footer">
  <div class="container">
    <div class="footer-first-content">
      <ul class="footer-nav ">
        <li class="footer-item"><a class="footer-link " href="index.html">Home</a></li>
        <li class="footer-item"><a class="footer-link " href="page-hotel.html">Hotel</a></li>
        <li class="footer-item"><a class="footer-link " href="page-restaurant.html">Restaurant</a></li>
      </ul>
      <div class="footer-title ">
        <a class="footer-logo" href="">Mimino</a>
        <p class="footer-text">restaurant-hotel complex</p>
      </div>
      <div class="footer-icon-content">
        <ul class="footer-sm-list">
          <li>
            <a target="_blank" href="" class="footer-icon-box">
              <svg class="footer-icon">
                <use href="./img/icons/spray.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a target="_blank" href="" class="footer-icon-box">
              <svg class="footer-icon">
                <use href="./img/icons/spray.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a target="_blank" href="" class="footer-icon-box">
              <svg class="footer-icon">
                <use href="./img/icons/spray.svg#twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-line"></div>
  </div>
</footer>