/*for page Hotel section Four-seater Room*/

img {
    border: 1px solid var(--second-color);
}

.fourseater {
    padding: 64px 20px 0px;
}
.fourseater-container {
    width: 100%;

    /* display: flex;
    flex-direction: column;
    align-items: center; */

    border: 0.5px solid red;
}

.fourseater-img-small {
    display: none;
    column-gap: 20px;
    margin-top: 20px;
}

.fourseater-titel,
.fourseater-text, 
.fourseater-text-below {
    font-family: 'DM Sans', sans-serif;
    font-size: 26px;
    line-height: 1.25;
    
    letter-spacing: -0.02em;
    text-transform: uppercase;
    
    color: var(--second-color);

    padding: 32px 0;
}

.fourseater-text, 
.fourseater-text-below {
    font-size: 12px;
    line-height: 1.28;
    padding: 0;
}

.fourseater-text-below {
    padding-top: 24px;
    padding-bottom: 28px;
}

.fourseater-wrapp-btn {
    padding-top: 28px;
    padding-bottom: 88px;
    margin-right: auto;
}

.fourseater-link-btn,
.fourseater-modal-btn {
    background-color: transparent;
    
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    line-height: 1.28;

    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: var(--second-color);

    padding: 8px 18px;

    border: 0.8px solid #121212;
    border-radius: 32px;

    transition: background-color var(--animate), color var(--animate);
}

.fourseater-link-btn,
.fourseater-modal-btn:is(:hover, :focus) {
    background-color: #121212;
    color: #f7f7f7;
}

.fourseater-modal-btn {
    margin-left: 12px;
}

@media screen and (min-width: 375px) {
    .fourseater-img-small {
        display: flex;
    }
    .fourseater-titel {
        font-size: 32px;
    }
    .fourseater-text,
    .fourseater-text-below {
        font-size: 14px;
    }

    .fourseater-link-btn,
    .fourseater-modal-btn {
        font-size: 14px;
    }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
}

