/*for page Hotel section Double Luxury Room*/
img {
    border: 1px solid var(--second-color);
}

.luxury {
    padding: 64px 20px 0px;
}
.luxury-container {
    width: 100%;

    /* border: 0.5px solid red; */
}

.luxury-img-small {
    display: none;
}

.luxury-img {
    margin-right: 20px;
}

.luxury-titel,
.luxury-text, 
.luxury-text-below {
    font-family: 'DM Sans', sans-serif;
    font-size: 26px;
    line-height: 1.25;
    
    letter-spacing: -0.02em;
    text-transform: uppercase;
    
    color: var(--second-color);

    padding: 32px 0;
}

.luxury-text, 
.luxury-text-below {
    font-size: 12px;
    line-height: 1.28;
    padding: 0;
}

.luxury-text-below {
    padding-top: 24px;
    padding-bottom: 28px;
}

.luxury-wrapp-btn {
    margin-right: auto;
}

.luxury-link-btn,
.luxury-modal-btn {
    background-color: transparent;
    
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    line-height: 1.28;

    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: var(--second-color);

    padding: 8px 18px;

    border: 0.8px solid #121212;
    border-radius: 32px;

    transition: background-color var(--animate), color var(--animate);
}

.luxury-link-btn,
.luxury-modal-btn:is(:hover, :focus) {
    background-color: #121212;
    color: #f7f7f7;
}

.luxury-modal-btn {
    margin-left: 12px;
}

@media screen and (min-width: 375px) {
    .luxury-rooms {
        display: flex;
        margin-top: 20px;
    }

    .source {
        margin-left: 20px;
    }
    .luxury-titel {
        font-size: 32px;
    }
    .luxury-text,
    .luxury-text-below {
        font-size: 14px;
    }

    .luxury-link-btn,
    .luxury-modal-btn {
        font-size: 14px;
    }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
}