/*for Page Main section Restaurant’s details to a complex*/
.restaurants {
  margin-top: 64px;
}

.container {
  position: relative;
}
.restaurant-title {
  /* font-family: 'DM Sans'; */
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: var(--second-color);
}
.restaurant-text {
  width: 221px;
  height: 54px;
  margin: 24px 0 32px 0;
  /* font-family: 'DM Sans'; */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: var(--second-color);
}
.block-responsive {
  display: flex;
  justify-content: center;
}
.responsive {
  width: 100%;
  margin: 0 0 82px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.responsive-img {
  width: 100%;
}

.slick-prev {
  width: 24px;
  height: 24px;
  top: 100%;
  left: 8px;
  transform: translateY(18px);
}
.slick-prev::before {
  display: block;
  content: '\2039';
  width: 4.7px;
  height: 9.33px;
  color: var(--second-color);
}

.slick-next {
  width: 24px;
  height: 24px;
  top: 100%;
  left: 44px;
  transform: translateY(18px);
}
.slick-next::before {
  display: block;
  content: '\203A';
  width: 4.7px;
  height: 9.33px;
  color: var(--second-color);
}

.restaurant-btn-book {
  width: 128px;
  height: 34px;

  border: 0.8px solid var(--second-color);
  border-radius: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  background: none;
  color: var(--second-color);
  transition: var(--animate);
}
.restaurant-btn-book:is(:hover, :focus) {
  background: var(--second-color);
  border: 0.8px solid #f7f7f7;
  color: #f7f7f7;
}
.restaurant-btn-menu {
  margin-left: 12px;
  width: 139px;
  height: 34px;
  border: 0.8px solid var(--second-color);
  border-radius: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  background: none;
  color: var(--second-color);
  transition: var(--animate);
}
.restaurant-btn-menu:is(:hover, :focus) {
  background: var(--second-color);
  border: 0.8px solid #f7f7f7;
  color: #f7f7f7;
}
.restaurant-btn-block {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 375px) {
  .responsive {
    width: 325px;
  }
  .responsive-img {
    width: 157px;
  }
}
@media screen and (min-width: 768px) {
  .block-responsive {
    margin-left: 32px;
  }
  .responsive {
    width: 748px;
  }
  .responsive-item {
    width: 336px;
    margin-right: 32px;
  }
  .responsive-img {
    width: 336px;
  }
  .block-restaurant-title {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 87px;
  }
  .restaurant-text {
    margin: 0;
  }
}
@media screen and (min-width: 1440px) {
  .block-responsive {
    margin-left: 32px;
  }

  .responsive {
    width: 1400px;
  }
  .responsive-item {
    width: 266px;
  }
  .responsive-img {
    width: 266px;
  }
  .restaurant-btn-block {
    position: absolute;
    top: 0;
    right: 32px;
  }
  .block-restaurant-title {
    display: flex;
    justify-content: flex-start;
    gap: 32px;
    margin-bottom: 132px;
  }
  .restaurant-text {
    margin: 0;
  }
  .slick-next {
    left: calc(50% + 10px);
  }
  .slick-prev {
    left: calc(50% - 10px);
  }
}
