.restaurant-container {
  overflow: hidden;
  position: relative;
}
.restaurant-title {
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--second-color);
  font-weight: 500;
}
.responsive-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.restaurant-text {
  width: 221px;
  height: 54px;
  margin: 24px 0 0 0;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: var(--second-color);
}
.block-slick-mob-tab-pc {
  position: relative;
}
.block-responsive {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.responsive {
  display: flex;
  width: 100%;
  height: auto;
}
.responsive-tab {
  display: flex;
  column-gap: 20px;
  height: auto;
}

.restaurant-slick-arrow-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 68px;
  height: 24px;
  margin: 18px 0 40px 0;
}
.restaurant-btn-prev {
  width: 24px;
  height: 24px;
  border: none;
  background: none;
  color: var(--second-color);
}
.restaurant-btn-prev:is(:hover, :focus) {
  opacity: 1;
}
.restaurant-btn-next {
  width: 24px;
  height: 24px;
  border: none;
  background: none;
  color: var(--second-color);
}
.restaurant-slick-icon {
  width: 7px;
  height: 14px;
}
.restaurant-btn-block {
  display: flex;
  column-gap: 12px;
  align-self: flex-end;
  justify-content: center;
}
.responsive-tab {
  width: 345px;
}
.restaurant-slick-arrow-block {
  width: 104px;
  height: 36px;
  margin: 25px 0 47px 0;
}
.restaurant-btn-prev {
  width: 36px;
  height: 36px;
}
.restaurant-btn-next {
  width: 36px;
  height: 36px;
}
.block-restaurant-title {
  display: flex;
  gap: 32px;
  margin-bottom: 87px;
  flex-direction: column;
}
.restaurant-text {
  margin: 0;
}
.slick-track {
  display: flex;
  column-gap: 20px;
}
@media screen and (min-width: 375px) {
  .responsive-img {
    width: 158px;
    height: 201px;
    object-fit: cover;
  }

  .block-restaurant-title {
    display: block;
  }
  .restaurant-text {
    margin: 24px 0 0 0;
  }
}
@media screen and (min-width: 768px) {
  .restaurant-container {
    padding: 0 32px;
  }
  .slick-track {
    display: flex;
    column-gap: 30px;
  }

  .responsive-tab {
    width: 748px;
    column-gap: 32px;
    justify-content: center;
  }
  .block-restaurant-title {
    flex-direction: row;
  }
  .restaurant-title {
    font-size: 64px;
  }
  .responsive-img {
    width: 336px;
    height: 309px;
    object-fit: cover;
  }
  .responsive-tab {
    width: 748px;
    column-gap: 32px;
    justify-content: center;
  }
  .block-restaurant-title {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 87px;
  }
  .restaurant-text {
    margin: 0;
  }
  .restaurant-slick-arrow-block {
    width: 104px;
    height: 36px;
    margin: 43px 0 51px 0;
  }
}

@media screen and (min-width: 1440px) {
  .responsive-img {
    width: 266px;
    height: 309px;
    object-fit: cover;
  }

  .restaurant-container {
    padding: 44px 32px 0;
  }

  .responsive {
    margin: 0 0 51px 0;
  }

  .restaurant-btn-block {
    position: absolute;
    top: -190px;
    right: 32px;
  }
  .block-restaurant-title {
    display: flex;
    justify-content: flex-start;
    gap: 32px;
    margin-bottom: 125px;
  }
  .restaurant-text {
    margin: 0;
  }
  .restaurant-slick-arrow-block {
    margin: 0 auto;
  }
  .restaurant-btn-prev {
    width: 36px;
    height: 36px;
  }
  .restaurant-btn-next {
    width: 36px;
    height: 36px;
  }
  .restaurant-slick-arrow-block {
    margin: 62px auto 0 auto;
  }
}
