/*for Page Main Location & contacts*/
.container {
    
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto ; 
}
.location {
    color: var(--second-color);
    background-color: var(--accent-color);
}
@media screen and (min-width: 375px) {
    .container {
        width: 375px;  
       
    }
}
@media screen and (min-width: 768px) {
    .container {
        width: 768px;  
        padding: 0 32px;
       
    }
}
@media screen and (min-width: 1440px) {
    .container {
        width: 1440px;  
         
    }
}
/*================= M O B A I L ====================*/
@media screen and (min-width: 375px){
    .location-title {
        padding: 32px 0;
        margin: 0;
        font-family: 'DM Sans';
        text-transform: uppercase;
        font-size: 40px;
        line-height: 1;
        letter-spacing: -0.02em;
    }

    .contact-address {
        display: block;
        padding-top: 32 px;
        width: 214px;
        height: 48px;
    
        font-style: normal;
        font-size: 18px;
        line-height: 1.333;
        letter-spacing: -0.02em;
        text-transform: uppercase;
    }
    .contact-title {
        padding-top: 28px;
        font-style: normal;
        font-size: 14px;
        line-height: 1.286;
        letter-spacing: -0.02em;
        text-transform: uppercase;
    }
    .contact-tel {
        padding-top: 12px;
        font-style: normal;
        font-size: 14px;
        line-height: 1.286;
        letter-spacing: -0.02em;
    }
}
/*================= M O B A I L ====================*/

/*================= T A B L E T ====================*/






/*================= T A B L E T ====================*/

/*================= D E S K T O P ====================*/








/*================= D E S K T O P ====================*/
