/*for Page Main section Welcome to a complex*/
.welcome {
  margin-top: 64px;
}
.container {
  display: flex;
}
.welcome-title {
  width: 335px;
  font-family: 'DM Sans Medium', sans-serif;
  /* font-weight: 500; */
  font-size: 32px;
  line-height: 1.12;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 32px;
}
.welcome-text,
.welcome-description {
  font-family: 'DM Sans Medium', sans-serif;
  /* font-weight: 400; */
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  padding-right: 0;
  color: #000000;
}
.welcome-description {
  width: 335px;
}
.welcome-block-text {
  display: flex;
}

@media screen and (min-width: 375px) {
  .container {
    flex-direction: column;
    gap: 32px;
    padding: 0 20px;
  }
  .welcome-text {
    width: 306px;
  }
  .welcome-block-text {
    flex-direction: column;
    gap: 32px;
  }
}
@media screen and (min-width: 768px) {
  .welcome {
    margin-top: 80px;
  }
  .container {
    gap: 40px;
    padding: 0 32px;
  }

  .welcome-img {
    width: 704px;
  }
  .welcome-title {
    width: 404px;
    margin-bottom: 50px;
  }
  .welcome-description {
    width: 366px;
  }
  .welcome-block-text {
    flex-direction: row;
    gap: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 32px;
  }
  .welcome-block-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .welcome-block-text {
    flex-direction: column;
    gap: 24px;
  }
  .welcome-img {
    width: 672px;
  }
  .welcome-title {
    width: 404px;
  }
  .welcome-text {
    width: 437px;
  }
  .welcome-description {
    width: 437px;
  }
}
