/* for Page Main Hotel’s details*/
.hotels-container {
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
.button-hotel {
  text-align: center;
  line-height: 2;
}
@media screen and (min-width: 375px) {
  .hotels-container {
    width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .hotels-container {
    width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1440px) {
  .hotels-container {
    width: 1440px;
  }
}
/*================= M O B A I L ====================*/

.hotels {
  position: relative;
  background-color: var(--second-color);
  color: var(--accent-color);
  padding-top: 32px;
  padding-bottom: 32px;
}
.hotel-title {
  margin-bottom: 32px;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.02em;
}
.hotel-book {
  padding: 0;
  margin: 0;
  margin-bottom: 33px;
}
.book {
  margin: 0;
  max-width: 335px;
  height: auto;
  font-family: 'DM Sans';
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.286;
  letter-spacing: -0.02em;
}
.button-hotel {
  /* margin-top: 40px;
  margin-right: 20px; */
  width: 150px;
  height: 45px;
}
.list-img {
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 27px;
  justify-content: center;
  margin-bottom: 40px;
}

.button-centr {
  display: flex;
  gap: 12px;
  justify-content: center;
}
.img-details_3 {
  position: static;
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .list-img {
    justify-content: space-between;
  }
  .img-details_3 {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  .img-details_4 {
    display: none;
    position: static;
    right: 0;
    bottom: 0;
  }
  .img-details_5 {
    display: none;
  }
}
/*================= M O B A I L ====================*/

/*================= T A B L E T ====================*/
@media screen and (min-width: 768px) {
  .hotels {
    padding-top: 44px;
    padding-bottom: 44px;
  }

  .book {
    margin: 0;
    padding: 0;
    max-width: 380px;
  }
  .hotel-title {
    font-size: 68px;
    line-height: 1;
    margin-bottom: 0;
  }
  .hotel-book {
    display: flex;
    gap: 32px;
    align-items: center;
    margin-bottom: 80px;
  }

  .list-img {
    gap: 16px;
  }
  .img-details_4 {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .img-details_5 {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  /* .button-hotel {
    margin-top: 48px;
    margin-bottom: 52px;
  } */
  .button-centr {
    margin-top: 0;
    margin-bottom: 0;
  }
}

/*================= T A B L E T ====================*/

/*================= D E S K T O P ====================*/
@media screen and (min-width: 1440px) {
  .list-img {
    gap: 0;
    justify-content: space-between;
    margin-bottom: 0;
  }
  .hotel-container-small {
    position: relative;
    padding-left: 126px;
    padding-right: 126px;
  }
  .hotels {
    padding-top: 60px;
  }
  .hotels-container {
    position: relative;
  }
  .button-hotel {
    width: 200px;
    height: 50px;
  }
  .button-centr {
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
  .img-details_4 {
    position: absolute;
    left: 0;

    bottom: 0;
  }
}
