.hero-header {
  position: relative;
  max-width: 100%;
  background: var(--second-color);
  object-fit: contain;
}
.hero-container {
  padding: 40px 20px 0 20px;
}
.icon-hero {
  display: none;
}

.pictur {
  max-width: 100%;
  height: auto;
  width: 100%;
}
.hero-content {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  margin-top: 0;
  justify-content: center;
  text-align: center;
}

.hero-title {
  color: var(--accent-color);
  font-weight: 400;
  font-size: 80px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.main-hero-btn {
  display: flex;
  justify-content: center;
  gap: 14px;
}

.hero-btn {
  font-family: 'DM Sans Regular', sans-serif;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  border: 0.8px solid var(--accent-color);
  border-radius: 32px;
  padding: 10px 22px;
}

.about-text {
  margin-top: 66px;
  color: var(--accent-color);
}
.text-hero-content {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  margin-top: 66px;
  padding-bottom: 54px;
}
.text-hero {
  color: var(--accent-color);
  font-family: 'DM Sans Regular';
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.image-hero {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .hero-container {
    padding: 50px 38px 0 38px;
  }
  .text-hero-content {
    padding-bottom: 72px;
  }
  .hero-title {
    color: var(--accent-color);
    font-weight: 400;
    font-size: 150px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-transform: uppercase;
  }
  .hero-content {
    margin: 0 92px;
  }
  .text-hero-content {
    flex-direction: row;
    column-gap: 32px;
  }
  .text-hero {
    flex: 0 0 calc((100% - 32px) / 2);
  }
}
@media screen and (min-width: 1440px) {
  .hero-header {
    padding-top: 0;
  }
  .hero-content {
    position: relative;
    display: flex;
    margin: 0;
  }
  .image-hero {
    max-width: 542px;
    height: 770px;
    display: block;
    position: absolute;
    top: -138px;
    right: -33px;
    z-index: 0;
  }
  .hero-title {
    color: var(--accent-color);
    font-weight: 400;
    font-size: 150px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    padding: 162px 0;
    text-align: left;
  }
  .main-hero-btn {
    position: absolute;
    bottom: -47px;
    right: 92px;
  }
  .hero-btn {
    background-color: transparent;
  }
  .text-hero-content {
    max-width: 684px;
  }
  .text-hero-content {
    margin-top: 0;
    padding-bottom: 55px;
  }
}
