/*for Page Main About a complex*/
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-about {
  max-width: 100%;
  min-width: 375px;
  background: var(--accent-color);
  padding: 64px 20px;
  object-fit: contain;
}
.hero-about {
  padding: 64px 0;
}
.pictur {
  height: auto;
  width: 100%;
}

.hero-content {
  margin-top: -50px;
  justify-content: center;
  text-align: center;
}

.pic1 {
  position: relative;
  width: 335px;
  height: 442px;
}

.review-card {
  transform: translate(25%, -50%);
  position: absolute;
  background: var(--second-color);
  width: 212px;
  height: 61px;
  box-shadow: 1px 7px 22px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  display: flex;
  top: 0;
  right: 0;
}

.review-card-alex {
  position: absolute;
  background: var(--second-color);
  width: 212px;
  height: 61px;
  box-shadow: 1px 7px 22px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  display: flex;
  bottom: -22px;
  left: 0;
}
.hero-paragraf {
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.second-hero-paragraf {
  margin-top: 32px;
}

.img-review {
  width: 41px;
  height: 41px;
  margin: 10px 12px 10px 14px;
}

.p-maria {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #f7f7f7;
}

.p-maria-rating {
  display: flex;
}

.give-rating {
  color: #575757;
}

.rating {
  color: var(--accent-color);
  margin-left: 3px;
}

.give-star {
  gap: 7px;
  margin: 12px 0;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
}

.pic2 {
  position: relative;
  margin-top: 20px;
  display: block;
  width: 282px;
  height: 153px;
}

.about-text {
  margin-top: 32px;
}

.business.about-text {
  margin-top: 54px;
}

.about-text-p {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: #484848;
}

.hero-paragraf-about {
  margin-top: 18px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--second-color);
}

.second-hero-paragraf {
  margin-top: 14px;
}

.pic3 {
  position: relative;
  margin-top: 64px;
}

.pic4 {
  margin-top: 40px;
  width: 335px;
  height: 309px;
}
.maria-back {
  box-shadow: 1px 7px 22px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .about-container {
    justify-content: flex-start;
  }
  .about-box-container {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
  }
  .hero-about {
    padding: 80px 0;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
  }
  .pic1 {
    min-width: 482px;
  }
  .pic2 {
    width: auto;
    align-self: flex-end;
    transform: translate(55%, -160%);
  }
  .pic3 {
    align-self: flex-end;
  }
  .review-card {
    transform: translate(-50%, -50%);
  }
  .about-text {
    max-width: 472px;
  }
  .about-second-box {
    transform: translateX(-25%);
  }
  .review-card-alex {
    bottom: 25%;
    left: -16%;
  }
  .about-first-box {
    display: flex;
    align-self: flex-end;
  }
  .about-second-box {
    display: flex;
    column-gap: 32px;
    align-self: flex-start;
  }
  .pic4 {
    width: 266px;
    order: 1;
  }
  .business {
    width: 263px;
    order: 2;
  }
}
@media screen and (min-width: 1440px) {
  .hero-about {
    padding: 100px 0;
  }
  .business.about-text {
    margin: 0;
  }

  .hero-text {
    margin-left: -70px;
    align-self: center;
  }
  .review-card-alex {
    left: -20%;
  }
  .about-content {
    flex-direction: row;
    position: relative;
  }
  .pic1 {
    width: auto;
    height: auto;
  }
  .pic2 {
    min-width: 439px;
    transform: translateX(-40%);
    align-self: center;
  }
  .pic3,
  .pic4 {
    margin: 0;
  }
  .about-box-container {
    display: flex;
    min-width: 100%;
    flex-direction: row-reverse;
    column-gap: 82px;
    margin-top: 100px;
  }
  .about-text.business {
    margin: 0 0 0 -25px;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    align-self: flex-start;
  }

  .about-text {
    margin-top: 199px;
  }

  .about-box-container {
    position: relative;
  }
  .about-second-box {
    position: absolute;
    right: 520px;
    bottom: 56px;
    gap: 74px;
  }
}
