/*for Page Main Location & contacts*/
.location-container {
    
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto ; 
}
.location {
    padding-top: 64px;
    padding-bottom: 64px;
    color: var(--second-color);
    background-color: var(--accent-color);
}
@media screen and (min-width: 375px) {
    .location-container {
        width: 375px;  
       
    }
}
@media screen and (min-width: 768px) {
    .location-container {
        width: 768px;  
        padding: 0 32px;
       
    }
}
@media screen and (min-width: 1440px) {
    .location-container {
        width: 1440px;  
         
    }
}
/*================= M O B A I L ====================*/

    .location-title {
        margin-bottom: 32px;
        text-transform: uppercase;
        font-size: 40px;
        line-height: 1;
        letter-spacing: -0.02em;
    }
    .map {
        width: 100%;
        height: 384px;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
        box-shadow: -14px 24px 68px -16px rgba(0, 0, 0, 0.12);
     }
     .location-location {
        margin-bottom: 32px;
     }
    .contact-address {
        display: block;
        width: 214px;
        height: 48px;
        font-style: normal;
        font-size: 18px;
        line-height: 1.333;
        letter-spacing: -0.02em;
        text-transform: uppercase;
    }
    .contact-title {
        margin-bottom: 12px;
        font-style: normal;
        font-size: 14px;
        line-height: 1.286;
        letter-spacing: -0.02em;
        text-transform: uppercase;
    }
    .contact-tel {
        font-style: normal;
        font-size: 14px;
        line-height: 1.286;
        letter-spacing: -0.02em;
    }
    .tel-title {
        margin-top: 28px;
    }

/*================= M O B A I L ====================*/
@media screen and (min-width: 375px) {
   .map {
    width: 335px;
   }
       
    }
/*================= T A B L E T ====================*/
@media screen and (min-width: 768px) {
    .location {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .location-title {
        margin-bottom: 40px;
        font-size: 68px;
    }
    .map {
        width: 704px;
        height: 576px;
    }
    .contact-tel {
        font-style: normal;
        font-size: 18px;
        line-height: 1.333;
    }
    .location-contact {
        display: flex;
        justify-content: space-between;
        align-items:center;
    }
    .tel-title {
        margin-top: 0;
    }
}
/*================= T A B L E T ====================*/

/*================= D E S K T O P ====================*/

@media screen and (min-width: 1440px) {
     .location {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .location-container {
        position: relative;
        padding-left: 64px;
        padding-right: 64px;
    }
    .location-location {
        display: flex;
        gap: 32px;
        flex-direction: row-reverse;
        justify-content: flex-end;
        margin-bottom: 0;
    }
   
    .map {
        width: 640px;
        height: 524px;
    } 
    .location-contact {
        gap: 70px;
       justify-content: center;
       position: absolute;
        left: 50%;
        bottom: 0;
    }
    .tel-title {
        display: flex;
        gap: 12px;
        align-items: flex-start;
    }
    .contact-title {
        display: flex;
        align-items: flex-end;
        padding-top: 0;
        margin-bottom: 0;
    }
   
}
/*================= D E S K T O P ====================*/
