.hero-header {
  max-width: 100%;
  min-width: 375px;
  background: var(--second-color);
  padding: 118px 20px 40px;
  object-fit: contain;
}

.pictur {
  max-width: 100%;
  height: auto;
  width: 100%;
}

.hero-content {
  justify-content: center;
  text-align: center;
}

.hero-title {
  color: var(--accent-color);
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.main-hero-btn {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  gap: 14px;
}

.hero-btn {
  flex-direction: row;
  background: var(--second-color);
  border-color: var(--accent-color);
  color: var(--accent-color);
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  border: 0.8px solid var(--accent-color);
  border-radius: 32px;
  padding: 8px 10px;
}

.hero-text {
  margin-top: 66px;
  color: var(--accent-color);
}

.hero-paragraf {
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.second-hero-paragraf {
  margin-top: 32px;
}

@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1440px) {
}
