/*for footer global*/
@media screen and (min-width: 375px) {
    .container {
    max-width: 375px;
    padding: 0 32px;
    }
}
@media screen and (min-width: 768px) {
     .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1440px) {
     .container {
    max-width: 1440px;
}
}
.footer{
    padding-top: 44px;

}

.footer-link{
 font-family: 'DM Sans Regular';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: calc(18/14);

letter-spacing: 0.05em;
text-transform: uppercase;
flex: none;
order: 0;
flex-grow: 0;
}
.footer-item{
  display: inline-block;
}
.footer-link:last-child{
    margin-right: 32px;
}
@media screen and (max-width: 1436px){
    .footer-nav{
        display: none;
    }
}
.footer-title{
    text-align: center;

}
@media screen and (max-width: 1440px){
    .footer-title{
        text-align: left;

    }
}
.footer-logo{
font-family: 'DM Sans Medium';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: calc(24/20);


letter-spacing: 0.18em;
text-transform: uppercase;
}
.footer-text{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: calc(10/8);

letter-spacing: 0.18em;
text-transform: uppercase;
margin-top: 3px;


}

.footer-sm-list{
  display: flex;
  
 }
.footer-icon-box{
display: block;
  background-color: tomato;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  align-items: flex-start;


 
}
 .footer-icon{
  width: 24px;
  height: 24px;
  margin-top: 8px;
  margin-left: 16px;
  text-align: right;
 }

.footer-line{
    padding-bottom: 80px;
            border: 0.5px solid rgba(18, 18, 18, 0.3);
}