<!--for Room Page section Hero-->
<section class="amenities">
  <div class="container amenities-container">
    <h1 class="visually-hidden">Amenities</h1>
    <ul class="amenities-list">
      <li class="amenities-item">
        <h2 class="amenities-title">General Amenities & Facilities:</h2>
        <ul class="amenities-sublist">
          <li class="amenities-subitem">24-hour front desk service</li>
          <li class="amenities-subitem">Daily housekeeping</li>
          <li class="amenities-subitem">Free Wi-Fi throughout the hotel</li>
          <li class="amenities-subitem">Elevator access</li>
          <li class="amenities-subitem">Luggage storage</li>
          <li class="amenities-subitem">Non-smoking rooms available</li>
          <li class="amenities-subitem">Meeting rooms for business and events</li>
          <li class="amenities-subitem">On-site parking (surcharge)</li>
          <li class="amenities-subitem">Concierge services</li>
        </ul>
      </li>
      <li class="amenities-item">
        <h2 class="amenities-title">Bathroom:</h2>
        <ul class="amenities-sublist">
          <li class="amenities-subitem">Private bathroom with shower</li>
          <li class="amenities-subitem">Complimentary toiletries</li>
          <li class="amenities-subitem">Hair dryer</li>
          <li class="amenities-subitem">Fresh towels daily</li>
          <li class="amenities-subitem">Deluxe bathrobes (in some room categories)</li>
        </ul>
      </li>
      <li class="amenities-item">
        <h2 class="amenities-title">Bedroom:</h2>
        <ul class="amenities-sublist">
          <li class="amenities-subitem">Comfortable beds with high-quality linens</li>
          <li class="amenities-subitem">Blackout curtains</li>
          <li class="amenities-subitem">Climate control (air conditioning and heating)</li>
          <li class="amenities-subitem">Safe for valuables</li>
          <li class="amenities-subitem">Writing desk and chair</li>
          <li class="amenities-subitem">Flat-screen TV with cable channels</li>
        </ul>
      </li>
      <li class="amenities-item">
        <h2 class="amenities-title">Kitchen:</h2>
        <ul class="amenities-sublist">
          <li class="amenities-subitem">In-room kitchenette (in some room categories)</li>
          <li class="amenities-subitem">Refrigerator</li>
          <li class="amenities-subitem">Microwave</li>
          <li class="amenities-subitem">Electric kettle</li>
          <li class="amenities-subitem">Cooking utensils and cutlery</li>
          <li class="amenities-subitem">Dining table and chairs</li>
        </ul>
      </li>
      <li class="amenities-item">
        <h2 class="amenities-title">Media:</h2>
        <ul class="amenities-sublist">
          <li class="amenities-subitem">Flat-screen TV with cable channels</li>
          <li class="amenities-subitem">High-speed Wi-Fi</li>
          <li class="amenities-subitem">iPod docking station</li>
          <li class="amenities-subitem">Speaker system</li>
          <li class="amenities-subitem">Electrical outlets for charging devices.</li>
        </ul>
      </li>
    </ul>
    <div class="amenities-gallery">
      <picture class="amenities-img-first">
        <source media="(max-width:767px)"
          srcset="./img/img-room/room-general-2-mob-1x.jpg 1x, ./img/img-room/room-general-2-mob-2x.jpg 2x">
        <source srcset="./img/img-room/room-general-2-table-1x.jpg 1x, ./img/img-room/room-general-2-table-2x.jpg 2x"
          media="(max-width:1439px)">
        <source
          srcset="./img/img-room/room-general-2-desktop-1x.jpg 1x, ./img/img-room/room-general-2-desktop-2x.jpg 2x"
          media="(min-width:1440px)">
        <img src="./img/img-room/room-general-2-mob-1x.jpg 1x, ./img/img-room/room-general-2-mob-2x.jpg 2x,"
          alt="toiletries">
      </picture>
      <picture class="amenities-img-second">
        <source srcset="./img/img-room/room-general-mob-1x.jpg 1x, ./img/img-room/room-general-mob-2x.jpg 2x"
          media="(max-width:767px)">
        <source srcset="./img/img-room/room-general-table-1x.jpg 1x, ./img/img-room/room-general-table-2x.jpg 2x"
          media="(max-width:1439px)">
        <source srcset="./img/img-room/room-general-desktop-1x.jpg 1x, ./img/img-room/room-general-desktop-2x.jpg 2x"
          media="(min-width:1440px)">
        <img src="./img/img-room/room-general-mob-1x.jpg 1x, ./img/img-room/room-general-mob-2x.jpg 2x" alt="bathroom">
      </picture>
      <button type="button" class="amenities-btn" data-modal-open>book a room</button>
    </div>
  </div>
  </div>
</section>