<section class="room-hero">
    <div class="container room-hero-container">
        <h1 class="room-hero-title">Double <span>luxury</span> room</h1>
        <button type="button" class="room-hero-btn">View prices</button>
        <div class="slider">
            <div class="slider-item-first">
                <picture class="slider-img">
                    <source srcset="./img/img-room/room-luxury-mob-1x.jpg 1x, ./img/img-room/room-luxury-mob-2x.jpg 2x"
                        media="(max-width:767px)">
                    <source
                        srcset="./img/img-room/room-luxury-table-1x.jpg 1x, ./img/img-room/room-luxury-table-2x.jpg 2x"
                        media="(max-width:1439px)">
                    <source
                        srcset="./img/img-room/room-luxury-desktop-1x.jpg 1x, ./img/img-room/room-luxury-desktop-2x.jpg 2x"
                        media="(min-width:1440px)">
                    <img src="./img/img-room/room-luxury-mob-1x.jpg 1x, ./img/img-room/room-luxury-mob-2x.jpg 2x"
                        alt="room">
                </picture>
            </div>
            <div class="slider-item-second">
                <picture class="slider-img">
                    <source
                        srcset="./img/img-room/room-luxury-2-mob-1x.jpg 1x, ./img/img-room/room-luxury-2-mob-2x.jpg 2x"
                        media="(max-width:767px)">
                    <source
                        srcset="./img/img-room/room-luxury-table-2-1x.jpg 1x, ./img/img-room/room-luxury-table-2-2x.jpg 2x"
                        media="(max-width:1439px)">
                    <source
                        srcset="./img/img-room/room-luxury-desktop-2-1x.jpg 1x, ./img/img-room/room-luxury-desktop-2-2x.jpg 2x"
                        media="(min-width:1440px)">
                    <img src="./img/img-room/room-luxury-2-mob-1x.jpg 1x, ./img/img-room/room-luxury-2-mob-2x.jpg 2x"
                        alt="room">
                </picture>
            </div>
        </div>
        <svg class="arrow-left" width="7px" height="14px">
            <use href="./img/icons/spray.svg#icon-prev"></use>
        </svg>
        <svg class="arrow-right" width="7px" height="14px">
            <use href="./img/icons/spray.svg#icon-next"></use>
        </svg>
        <p class="room-hero-text">The Mimino hotel features spacious and stylish double luxury rooms with modern
            amenities for a comfortable stay.</p>
    </div>

</section>