<section class="room-hero">
    <div class="container room-hero-container">
        <h1 class="room-hero-title">Double <span>luxury</span> room</h1>
        <button type="button" class="room-hero-btn">View prices</button>
        <div class="slider">
            <div class="slider-item"><img src="" alt="" srcset=""></div>
            <div class="slider-item"><img src="" alt="" srcset=""></div>
            <div class="slider-item"><img src="" alt="" srcset=""></div>
            <div class="slider-item"><img src="" alt="" srcset=""></div>
            <div class="slider-item"><img src="" alt="" srcset=""></div>
            <div class="slider-item"><img src="" alt="" srcset=""></div>
        </div>
        <p class="room-hero-text">The Mimino hotel features spacious and stylish double luxury rooms with modern
            amenities for a comfortable stay.</p>
    </div>

</section>