<!--for modal window Book a Room-->
<!-- data-modal-amenities-open -->
<div data-modal class="modal-overlay is-hidden">
  <div class="modal">
    <button data-modal-close class="close-btn">
      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M24 8L8 24M8 8L24 24" stroke="#F7F7F7" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>
    </button>
    <h2 class="modal-title">BOOK <span>A room</span></h2>
    <form class="form" id="form-book">
      <div class="form-block-wrapper">
        <input required placeholder="Your name" class="form-input" id="user_name" type="text" name="username"
          pattern="^(?=.{2,30}$)(?=[A-Za-zА-Яа-яІіЇїЄєҐґ']*[A-Za-zА-Яа-яІіЇїЄєҐґ])[A-ZА-ЯІЇЄҐ][a-zа-яіїєґ']*(?: [A-ZА-ЯІЇЄҐ][a-zа-яіїєґ']*)*$">
        <label class="form-label-text" for="user_name">Who should book a table for?</label>
      </div>
      <div class="form-block-wrapper">
        <input required placeholder="+ 38 ()" class="form-input" id="user_phone" type="tel" name="tel"
          pattern="^\+38\(\d{3}\)\d{7}$|^\+380\d{9}$">
        <label class="form-label-text" for="user_phone">Phone number</label>
      </div>
      <div class="form-block-wrapper">
        <select class="select-day" id="select-day">
          <option value="Today">Today</option>
          <option value="Tomorrow">Tomorrow</option>
          <option value="After Tomorrow">After Tomorrow</option>
        </select>
        <label class="form-label-text" for="select-day">Check-in date</label>
      </div>
      <div class="form-block-wrapper">
        <input class="input-date" id="input-date" type="date" name="username">
        <svg class="input-date-icon" width="20" height="20">
          <use href="./img/icons/spray.svg#icon-arrowDown"></use>
        </svg>
        <label class="form-label-text" for="user_name">Who should book a table for?</label>
      </div>
      <div class="form-block-wrapper">
        <select class="select-room" id="select-room">
          <option value="Double suite">Double suite</option>
          <option value="single suite">single suite</option>
          <option value="After Tomorrow">Standart room</option>
        </select>
        <label class="form-label-text" for="select-room">Number category</label>
      </div>
      <button id="submit-btn" class="submit-btn button-dark" type="submit">MAKE A RESERVATION</button>
    </form>
  </div>
</div>