<!--for modal window Prices per Room-->
<section>
  <div class="modal-overlay is-hidden" data-modal-prices>
    <div class="modal-prices">
      <button type="button" class="modal-cross" data-modal-prices-close>
        <svg class="close-icon" width="12px" height="12px">
          <use href="./img/icons/spray.svg#close"></use>
        </svg>
      </button>
      <h3 class="header-prices">
        Prices per <span class="header-prices-room">room</span>
      </h3>
      <h4 class="header-double">Double suite</h4>
      <form class="prices-form">
        <div class="label-container-night label-calc">
          <label class="form-label-prices" for="night">
            <select class="prices-select" id="night" name="night">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
            <span class="night-text-cont">
              <p class="option-bott-text">Number of nights</p>
            </span>
          </label>
        </div>
        <div class="label-container-date label-calc">
          <label class="form-label-prices" for="date">
            <select
              class="prices-select"
              id="date"
              name="date"
              aria-required="true"
            >
              <option value="1">28/04/2023</option>
              <option value="2">01/05/2023</option>
              <option value="3">02/05/2023</option>
              <option value="4">03/05/2023</option>
            </select>
            <span class="date-text-cont">
              <p class="option-bott-text">Check-in date</p>
            </span>
          </label>
        </div>
        <div class="label-calc inpun-container-uah">
          <label
            class="form-label-prices label-uah"
            for="num-select"
            pattern="[1000-2000]"
          >
            <input
              class="label-input"
              type="number"
              name="uah select"
              placeholder="1000"
            />
          </label>
          <span class="date-text-cont">
            <p class="option-bott-text bott-text">UAH</p>
          </span>
        </div>
        <div class="btn-submit">
          <button type="submit" class="button-dark btn-modal-prices">
            MAKE A RESERVATION
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
