<!--for page Hotel section Triple Room-->

<section class="triple">
    <div class="container triple-container">
        <div class="triple-img-first">
            <picture>
                <source
                    srcset="
                        ./img/hotel-mob-double-room1-1x.jpg 1x,
                        ./img/hotel-mob-double-room1-2x.jpg 2x"
                    media="(max-width: 767px)"
                />
                <img 
                    src="./img/hotel-mob-double-room1-1x.jpg"
                    alt="double luxury bedroom"
                    width="335"
                    height="468"
                >
            </picture>
        </div>
        <div class="triple-img-second">
            <picture class="triple-rooms">
                <source
                    srcset="
                        ./img/hotel-mob-double-room2-1x.jpg 1x,
                        ./img/hotel-mob-double-room2-2x.jpg 2x
                    "
                    media="(max-width: 767px)"
                />
                <img
                    src="./img/hotel-mob-double-room2-1x.jpg"
                    alt="double triple bathroom"
                    width="158"
                    height="149"
                >
                <source class="source"
                    srcset="
                            ./img/hotel-mob-double-room3-1x.jpg 1x,
                            ./img/hotel-mob-double-room3-2x.jpg 2x
                    "
                    media="(max-width: 767px)"
                />
                <img
                    src="./img/otel-mob-double-room3-1x.jpg"
                    alt="double triple kitchen"
                    width="158"
                    height="149"
                >
            </picture>
        </div>
        <h2 class="triple-titel">
            Triple room
        </h2>
        <p class="triple-text">
            Escape to our spacious Triple Room, perfect for families or groups. 
            Enjoy comfort with three beds, seating area, stunning views, 
            flat-screen TVs, Wi-Fi, and mini-fridge.
        </p>
        <p class="triple-text-below">
            Rejuvenate in the en-suite bathroom with plush towels and toiletries. Book now for a memorable stay.
        </p>
        <div class="triple-wrapp-btn">
            <a href="../page-room.html">
                <button class="button-light triple-link-btn" type="button">More details</button>
            </a>
            <button class="button-light triple-modal-btn" type="submit">View pricess</button>
        </div>
    </div>
</section>

