<section class="fourseater">
    <div class="container fourseater-container">
        <div class="fourseater-pictures">
            <picture class="fourseater-badroom">
                <source srcset="./img/img-hotel/hotel-desktop-triple-room2-1x.jpg 1x, ./img/img-hotel/hotel-desktop-triple-room2-2x.jpg 2x" media="(min-width:1440px)" width="335" height="468">
                <source srcset="./img/img-hotel/hotel-tablet-triple-room3-1x.jpg 1x, ./img/img-hotel/hotel-tablet-triple-room3-2x.jpg 2x" media="(min-width:768px)" >      
                <img srcset="./img/img-hotel/hotel-mob-triple-room1-1x.jpg 1x, ./img/img-hotel/hotel-mob-triple-room1-2x.jpg 2x" alt="fourseater-bedroom" width="331" height="468">
            </picture>
            <div class="fourseater-rooms">
                <picture class="fourseater-bathroom">
                    <source srcset="./img/img-hotel/hotel-desktop-triple-room3-1x.jpg 1x, ./img/img-hotel/hotel-desktop-triple-room3-2x.jpg 2x" media="(min-width:1440px)" width="331" height="468">
                    <source srcset="./img/img-hotel/hotel-tablet-triple-room1-1x.jpg 1x, ./img/img-hotel/hotel-tablet-triple-room1-2x.jpg 2x" media="(min-width:768px)" width="223" height="261">
                    <img srcset="./img/img-hotel/hotel-mob-triple-room2-1x.jpg 1x, ./img/img-hotel/hotel-mob-triple-room2-2x.jpg 2x" alt="fourseater bathroom" width="158" height="149">
                </picture>
                <picture class="fourseater-kitchen">
                    <source srcset="./img/img-hotel/hotel-desktop-triple-room1-1x.jpg 1x, ./img/img-hotel/hotel-desktop-triple-room1-2x.jpg 2x" media="(min-width:1440px)">
                    <source srcset="./img/img-hotel/hotel-tablet-triple-room2-1x.jpg 1x, ./img/img-hotel/hotel-tablet-triple-room2-2x.jpg 2x" media="(min-width:768px)" width="341" height="175">
                    <img srcset="./img/img-hotel/hotel-mob-triple-room3-1x.jpg 1x, ./img/img-hotel/hotel-mob-triple-room3-2x.jpg 2x" alt="triple kitchen" width="158" height="149">
                </picture>
            </div>
        </div > 
    
        <h2 class="fourseater-titel">
            Four-seater room
        </h2>
        <p class="fourseater-text">
            Our 4-person room is perfect for small groups, offering comfort and convenience with 4 
            comfortable beds, ample storage, flat-screen TV, mini-fridge, coffee maker, desk and chair, 
            air-conditioning, heating, and soundproof walls. Book now for a memorable stay.
        </p>
        <div class="fourseater-wrapp-btn">
            <a href="../page-room.html">
                <button class="button-light fourseater-link-btn" type="button">More details</button>
            </a>
            <button class="button-light fourseater-modal-btn" type="submit">View pricess</button>
        </div>
    </div>
</section>