<!--for page Hotel section Double Luxury Room-->

<section class="luxory">
    <div class="container luxory-container">
        <img
            srcset="./img/bedroom-luxury-mobile@2x.jpg"
            src="./img/bedroom-luxury-mobile.jpg"
            alt="double luxury bedroom"
            width="335"
            height="468"
        />
        <div class="luxory-img-small">
            <img
                srcset="./img/bathroom-luxury-mobile@2x.jpg"
                src="./img/bathroom-luxury-mobile.jpg"
                alt= "double luxury bathroom"
                width="158"
                height="149"
            />
            <img
                srcset="./img/kitchen-luxury-mobile@2x.jpg"
                src="./img/kitchen-luxury-mobile.jpg"
                alt="double luxury kitchen"
                width="158"
                height="149"
            />
        </div>
        <h2 class="luxury-titel">
            Double<br/> luxury room
        </h2>
        <p class="luxury-text">
            Experience luxury in our Double Luxury Room at Mimino Hotel. 
            This spacious room features a comfortable bed, private bathroom, flat-screen TV, 
            and high-speed Wi-Fi. Climate control, blackout curtains, and soundproofing ensure 
            a peaceful night's sleep.
        </p>
        <p class="luxury-text-below">
            Relax after a busy day at the writing desk or armchair. Book now for a convenient and comfortable stay.
        </p>
        <div class="luxury-wrapp-btn">
            <a href="../page-room.html">
                <button class="luxury-link-btn" type="button">More details</button>
            </a>
            <button class="luxury-modal-btn" type="submit">View pricess</button>
        </div>
    </div>
</section>

