<section class="triple">
    <div class="container triple-container">

                <!--Desctop version-->

        <div class="top-pictures">
            <picture class="kitchen">
                <source srcset="./img/img-hotel/hotel-desktop-double-room1-1x.jpg 1x, ./img/img-hotel/hotel-desktop-double-room1-2x.jpg 2x" media="(min-width:1440px)" width="386" height="395">
                <img srcset="./img/img-hotel/hotel-desktop-double-room1-1x.jpg 1x, ./img/img-hotel/hotel-desktop-double-room1-2x.jpg 2x" alt="hotels kitchen" width="386" height="395">
            </picture>
            <picture class="bedroom">
                <source srcset="./img/img-hotel/hotel-desktop-double-room2-1x.jpg 1x, ./img/img-hotel/hotel-desktop-double-room2-2x.jpg 2x" media="(min-width:1440px)" width="539" height="762">
                <img srcset="./img/img-hotel/hotel-desktop-double-room2-1x.jpg 1x, ./img/img-hotel/hotel-desktop-double-room2-2x.jpg 2x" alt="hotels bedroom" width="539" height="762">
            </picture>
            <picture class="bathroom">
                <source srcset="./img/img-hotel/hotel-desktop-double-room3-1x.jpg 1x, ./img/img-hotel/hotel-desktop-double-room3-2x.jpg 2x" media="(min-width:1440px)" width="387" height="510">
                <img srcset="./img/img-hotel/hotel-desktop-double-room3-1x.jpg 1x, ./img/img-hotel/hotel-desktop-double-room3-2x.jpg 2x" alt="hotels bathroom" width="387" height="510">
            </picture>
        </div> 
        
                <!--------------------->

        <div class="triple-pictures">
            <picture class="triple-badroom">
                <source srcset="./img/img-hotel/hotel-desktop-double-room2-1x.jpg 1x, ./img/img-hotel/hotel-desktop-double-room2-2x.jpg 2x" media="(min-width:1440px)">
                <source srcset="./img/img-hotel/hotel-tablet-double-room1-1x.jpg1x, ./img/img-hotel/hotel-tablet-double-room1-2x.jpg 2x" media="(min-width:768px)" width="331" height="468">
                <img srcset="./img/img-hotel/hotel-mob-double-room1-1x.jpg 1x, ./img/img-hotel/hotel-mob-double-room1-2x.jpg 2x" alt="double luxury bedroom" width="335" height="468">
            </picture>
            <div class="triple-rooms">
                <picture class="triple-bathroom">
                    <source srcset="./img/img-hotel/hotel-desktop-double-room2-1x.jpg 1x, ./img/img-hotel/hotel-desktop-double-room3-2x.jpg 2x" media="(min-width:1440px)">
                    <source srcset="./img/img-hotel/hotel-tablet-double-room2-1x.jpg 1x, ./img/img-hotel/hotel-tablet-double-room2-2x.jpg 2x" media="(min-width:768px)" width="223" height="261">
                    <img srcset="./img/img-hotel/hotel-mob-double-room2-1x.jpg 1x, ./img/img-hotel/hotel-mob-double-room2-2x.jpg 2x" alt="double luxury bathroom" width="158" height="149">
                </picture>
                <picture class="triple-kitchen">
                    <source srcset="./img/img-hotel/hotel-desktop-double-room3-1x.jpg 1x, ./img/img-hotel/hotel-desktop-double-room1-2x.jpg 2x" media="(min-width:1440px)">
                    <source srcset="./img/img-hotel/hotel-tablet-double-room3-1x.jpg 1x, ./img/img-hotel/hotel-tablet-double-room3-2x.jpg 2x" media="(min-width:768px)" width="341" height="175">
                    <img srcset="./img/img-hotel/hotel-mob-double-room3-1x.jpg 1x, ./img/img-hotel/hotel-mob-double-room3-2x.jpg 2x" alt="double luxury kitchen" width="158" height="149">
                </picture>
            </div>
        </div>
            <h2 class="triple-titel">
                Triple room
            </h2>
            <div class="text-wrapper">
                <p class="triple-text">
                    Escape to our spacious Triple Room, perfect for families or groups.
                    Enjoy comfort with three beds, seating area, stunning views,
                    flat-screen TVs, Wi-Fi, and mini-fridge.
                </p>
            <p class="triple-text-below">
                Rejuvenate in the en-suite bathroom with plush towels and toiletries. Book now for a memorable stay.
            </p>
        </div>
        <div class="triple-wrapp-btn wrapp-btn-triple">
            <a href="../page-room.html">
                <button class="button-light triple-link-btn" type="button">More details</button>
            </a>
            <button class="button-light triple-modal-btn" type="submit">View pricess</button>
        </div>
    <div>
</section>