<!--for page Hotel section Four-seater Room-->

<section class="fourseater">
    <div class="container fourseater-container">
        <img
            srcset="./img/bedroom-fourseater-mobile@2x.jpg"
            src="./img/bedroom-fourseater-mobile.jpg"
            alt="fourseater bedroom"
            width="335"
            height="468"
        />
        <div class="fourseater-img-small">
            <img
                srcset="./img/bathroom-fourseater-mobile@2x.jpg"
                src="./img/bathroom-fourseater-mobile.jpg"
                alt= "fourseater bathroom"
                width="158"
                height="149"
            />
            <img
                srcset="./img/kitchen-fourseater-mobile@2x.jpg"
                src="./img/kitchen-fourseater-mobile.jpg"
                alt="fourseater kitchen"
                width="158"
                height="149"
            />
        </div>
        <h2 class="fourseater-titel">
            Four-seater room
        </h2>
        <p class="fourseater-text">
            Our 4-person room is perfect for small groups, offering comfort and convenience with 4 
            comfortable beds, ample storage, flat-screen TV, mini-fridge, coffee maker, desk and chair, 
            air-conditioning, heating, and soundproof walls. Book now for a memorable stay.
        </p>
        <div class="fourseater-wrapp-btn">
            <a href="../page-room.html">
                <button class="fourseater-link-btn" type="button">More details</button>
            </a>
            <button class="fourseater-modal-btn" type="submit">View pricess</button>
        </div>
    </div>
</section>