<!--for page Hotel section Four-seater Room-->

<section class="fourseater">
    <div class="container fourseater-container">
        <img
            srcset="../img/badroom-fourseater-mobile@2x.jpg"
            src="../img/badroom-fourseater-mobile.jpg"
            alt="double fourseater badroom"
            width="335"
            height="468"
        />
        <div class="fourseater-img-small">
            <img
                srcset="../img/bathroom-fourseater-mobile@2x.jpg"
                src="../img/bathroom-fourseater-mobile.jpg"
                alt= "double fourseater bathroom"
                width="158"
                height="149"
            />
            <img
                srcset="../img/kitchen-fourseater-mobile@2x.jpg"
                src="../img/kitchen-fourseater-mobile.jpg"
                alt="double fourseater kitchen"
                width="158"
                height="149"
            />
        </div>
        <h2 class="fourseater-titel">
            Four-seater room
        </h2>
        <p class="fourseater-text">
            Our 4-person room is perfect for small groups, offering comfort and convenience with 4 
            comfortable beds, ample storage, flat-screen TV, mini-fridge, coffee maker, desk and chair, 
            air-conditioning, heating, and soundproof walls. Book now for a memorable stay.
        </p>
        <div class="fourseater-wrapp-btn">
            <button class="fourseater-btn">More details</button>
            <button class="fourseater-btn">View pricess</button>
        </div>
    </div>
</section>