<section class="luxury">
    <div class="container luxury-container">

        <!--Desctop version-->

        <div class="top-pictures">
            <picture class="kitchen">
                <source srcset="./img/img-hotel/hotel-desktop-about1-1x.jpg 1x, ./img/img-hotel/hotel-desktop-about1-2x.jpg 2x" media="(min-width:1440px)" width="386" height="395">
                <img srcset="./img/img-hotel/hoteldesktop-about1-1x.jpg- 1x, ./img/img-hotel/hotel-desktop-about1-2x.jpg 2x" alt="hotels kitchen" width="386" height="395">
            </picture>
            <picture class="bedroom">
                <source srcset="./img/img-hotel/hotel-desktop-about2-1x.jpg 1x, ./img/img-hotel/hotel-desktop-about2-2x.jpg 2x" media="(min-width:1440px)" width="539" height="762">
                <img srcset="./img/img-hotel/hotel-mob-about2-1x.jpg 1x, ./img/img-hotel/hotel-mob-about2-2x.jpg 2x" alt="hotels bedroom" width="539" height="762">
            </picture>
            <picture class="bathroom">
                <source srcset="./img/img-hotel/hotel-desktop-about3-1x.jpg 1x, ./img/img-hotel/hotel-desktop-about3-2x.jpg 2x" media="(min-width:1440px)" width="387" height="510">
                <img srcset="./img/img-hotel/hotel-desktop-about3-1x.jpg 1x, ./img/img-hotel/hotel-desktop-about3-1x.jpg 2x" alt="hotels bathroom" width="387" height="510">
            </picture>
        </div> 

        <!--------------------->
        <div class="luxury-pictures">
            <picture class="luxury-bedroom">
                <source srcset="./img/img-hotel/hotel-desktop-about1-1x.jpg 1x, ./img/img-hotel/hotel-desktop-about1-2x.jpg 2x" media="(min-width:1440px)" width="331" height="468">
                <source srcset="./img/img-hotel/hotel-tablet-about3-1x.jpg 1x, ./img/img-hotel/hotel-tablet-about3-1x.jpg 2x" media="(min-width:768px)" >      
                <img srcset="./img/img-hotel/hotel-mob-about1-1x.jpg 1x, ./img/img-hotel/hotel-mob-about1-2x.jpg 2x" alt="triple bedroom" width="331" height="468">
            </picture>
            <div class="luxury-rooms">
                <picture class="luxury-bathroom">
                    <source srcset="./img/img-hotel/hotel-desktop-about3-1x.jpg 1x, ./img/img-hotel/hotel-desktop-about3-2x.jpg 2x" media="(min-width:1440px)">
                    <source srcset="./img/img-hotel/hotel-tablet-about1-1x.jpg 1x, ./img/img-hotel/hotel-tablet-about1-2x.jpg 2x" media="(min-width:768px)" width="226" height="261">
                    <img srcset="./img/img-hotel/hotel-mob-about2-1x.jpg 1x, ./img/img-hotel/hotel-mob-about2-2x.jpg 2x" alt="double triple bathroom" width="158" height="149">
                </picture>
                <picture class="luxury-kitchen">
                    <source srcset="./img/img-hotel/hotel-desktop-double-room1-1x.jpg 1x, ./img/img-hotel/hotel-desktop-about2-2x.jpg 2x" media="(min-width:1440px)">
                    <source srcset="./img/img-hotel/hotel-tablet-about2-1x.jpg 1x, ./img/img-hotel/hotel-tablet-about2-2x.jpg 2x" media="(min-width:768px)" width="341" height="175">
                    <img srcset="./img/img-hotel/hotel-mob-about3-1x.jpg 1x, ./img/img-hotel/hotel-mob-about3-2x.jpg 2x" alt="triple kitchen" width="158" height="149">
                </picture>
            </div>
        </div> 
        <h2 class="luxury-titel">
            Double luxury room
        </h2>
        <div class="fix">
            <p class="luxury-text">
                Experience luxury in our Double Luxury Room at Mimino Hotel.
                This spacious room features a comfortable bed, private bathroom, flat-screen TV,
                and high-speed Wi-Fi. Climate control, blackout curtains, and soundproofing ensure
                a peaceful night's sleep.
            </p>
            <p class="luxury-text-below">
                Relax after a busy day at the writing desk or armchair. Book now for a convenient and comfortable stay.
            </p> 
        </div>
        
        <div class="luxury-wrapp-btn wrapp-btn-luxury">
            <a href="../page-room.html">
                <button class="button-light luxury-link-btn" type="button">More details</button>
            </a>
            <button class="button-light luxury-modal-btn" type="submit">View pricess</button>
        </div>
    </div>
</section>