<!--for page Hotel section Triple Room-->

<section class="triple">
    <div class="container triple-container">
        <img
            srcset="./image/badroom-triple-mobile@2x.jpg"
            src="./image/badroom-triple-mobile.jpg"
            alt="double triple badroom"
            width="335"
            height="468"
        />
        <div class="triple-img-small">
            <img
                srcset="./images/bathroom-triple-mobile@2x.jpg"
                src="./images/bathroom-triple-mobile.jpg"
                alt= "double triple bathroom"
                width="158"
                height="149"
            />
            <img
                srcset="./images/kitchen-triple-mobile@2x.jpg"
                src="./images/kitchen-triple-mobile.jpg"
                alt="double triple kitchen"
                width="158"
                height="149"
            />
        </div>
        <h2 class="triple-titel">
            Triple room
        </h2>
        <p class="triple-text">
            Escape to our spacious Triple Room, perfect for families or groups. 
            Enjoy comfort with three beds, seating area, stunning views, 
            flat-screen TVs, Wi-Fi, and mini-fridge.
        </p>
        <p class="triple-text-below">
            Rejuvenate in the en-suite bathroom with plush towels and toiletries. Book now for a memorable stay.
        </p>
        <div class="triple-wrapp-btn">
            <button class="triple-btn">More details</button>
            <button class="triple-btn">View pricess</button>
        </div>
    </div>
</section>

