/*for page Room Page section Amenities*/
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.amenities {
    background-color: var(--second-color);
    padding-top: 40px;
    padding-bottom: 64px;
}

.amenities-list {
    margin-bottom: 64px;
}

.amenities-item:not(:last-child) {
    margin-bottom: 40px;
}

.amenities-title {
    font-family: 'DM Sans Bold', sans-serif;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    text-transform: uppercase;    
    color: var(--accent-color);
    margin-bottom: 28px;
}

.amenities-sublist{
    list-style-type: disc;
    margin-left: 20px;
}

.amenities-subitem{
    font-family: 'DM Sans Regular', sans-serif;
    font-size: 14px;
    line-height: 1.29;    
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--accent-color);
}

.amenities-gallery {
    position: relative;
    min-width: 100%;
    min-height: 407px;
}

.amenities-img-first {
    background-color: blue;
        position: absolute;
        right: 70px;
        top: 144px;
        width: 207px;
        height: 103px;
        z-index: 1;
    
}

.amenities-img-second {
    background-color: aqua;
    position: absolute;
    right:0;
    bottom:74px;
    width: 259px;
    height: 333px;
}

.amenities-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -87.5px;
    margin-top: 32px;
    min-width: 175px;
    height: 34px;
    padding: 8px 40px;
    background-color: var(--second-color);
    border: 0.8px solid var(--accent-color);
    border-radius: 32px;
    

    font-family: 'DM Sans Regular', sans-serif;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;    
    color: var(--accent-color);

    transition: background-color var(--animate), border-color var(--animate), color var(--animate);
}

.amenities-btn:hover,
.amenities-btn:focus {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: var(--second-color)
}



@media screen and (min-width: 375px) {
    .container {
        max-width: 375px;
    }
    .amenities-img-first {
        right: 128px;
        }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }

    .amenities {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .amenities-title {
            font-size: 40px;
            line-height: 1.1;
    }

    .amenities-list {
        margin-bottom: 64px;
    }
    .amenities-subitem {
        font-size: 18px;
    }

    .amenities-gallery {
        min-height: 525px;
    }

    .amenities-img-first {
        right: 339px;
        top: 157px;
        width: 365px;
        height: 182px;

    }

    .amenities-img-second {
        right: 0;
        bottom: 0px;
        width: 408px;
        height: 525px;
    }
    .amenities-btn {
            left:0;
            bottom: 114px;
            margin: 0;
            min-width: 143px;
            height: 40px;
            padding: 8px 24px;

            line-height: 1.71;
            }

}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }

        .amenities {
            padding-top: 94px;
            padding-bottom: 100px;
        }
    
        
        .amenities-list {
            display: flex;
            flex-wrap: wrap;
            column-gap: 70px;
            row-gap: 100px;
            margin-bottom: 0;
        }

        .amenities-item {
            margin-bottom: 0;
        }
        
        .amenities-item:nth-child(odd){
            min-width:678px;
        }

        .amenities-subitem {
                font-size: 18px;
                line-height: 1.33;
        }
        .amenities-gallery {
            position: static;
            min-height: auto;

        }
    
        .amenities-img-first {
            right: 409px;
            top: 1020px;
            width: 439px;
            height: 219px;
    
        }
    
        .amenities-img-second {
            width: 496px;
            height: 636px;
            top: 812px;
            
            
        }
    
        
        .amenities-btn {
            left: 592px;
            top: 1271px;
            min-width: 170px;
            height: 42px;
            padding: 9px 24px;

            font-size: 18px;
            line-height: 1.33;
        }
    .amenities-container {
        position: relative;
        min-height: 1444px;
    }
}