/*for page Room Page section Hero*/
.container {
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
.room-hero {
  padding-top: 40px;
  overflow: hidden;
  padding-bottom: 64px;
}

.room-hero-container {
  overflow-x: hidden;
  position: relative;
  min-height: 883px;
}

.room-hero-title {
  position: absolute;
  max-width: 275px;
  font-family: 'DM Sans Regular', sans-serif;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: var(--second-color);
  margin-bottom: 24px;
}
.room-hero-title > span {
  font-style: italic;
}

.room-hero-btn {
  display: block;
  position: absolute;
  top: 144px;
  min-width: 117px;
  height: 34px;
  padding: 8px 18px;
  border: 0.8px solid var(--second-color);
  border-radius: 32px;
  background-color: var(--accent-color);
  margin-bottom: 40px;

  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--second-color);
  transition: background-color var(--animate), border-color var(--animate),
    color var(--animate);
}

.room-hero-btn:hover,
.room-hero-btn:focus {
  background-color: var(--second-color);
  border-color: var(--second-color);
  color: var(--accent-color);
}

.slider {
  position: absolute;
  top: 218px;
}
.slick-track {
  display: flex;
  column-gap: 20px;
}
.arrows-conainer {
  position: absolute;
  top: 162px;
  right: 35px;
}
.slider-img {
  display: block;
  width: 250px;
  height: 429px;
}

.room-hero-text {
  max-width: 289px;
  position: absolute;
  top: 747px;
  margin-top: 40px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--second-color);
}
.arrows-container {
  display: flex;
  column-gap: 60px;
  position: absolute;
  bottom: 162px;
  right: 35px;
}
.prev-arrow-container,
.next-arrow-container {
  stroke: var(--second-color);
}
@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .room-hero-container {
    max-width: 768px;
    padding: 0 32px;
  }
  .room-hero {
    padding-bottom: 0;
  }
  .slider {
    top: 258px;
  }
  .room-hero-container {
    min-height: 1026px;
  }
  .room-hero-btn {
    top: 178px;
    line-height: 1.71;
    min-width: 129px;
    height: 40px;
    padding: 8px 24px;
  }

  .room-hero-title {
    max-width: 440px;
    font-size: 60px;
  }

  .slider-item-first {
    top: 248px;
  }

  .slider-item-second {
    top: 248px;
    left: 500px;
  }

  .slider-img {
    width: 436px;
    height: 548px;
  }

  .arrow-left {
    right: 114px;
    top: 845px;
  }

  .arrow-right {
    right: 47px;
    top: 845px;
  }

  .room-hero-text {
    top: 800px;
  }
  .arrows-container {
    bottom: 150px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }

  .room-hero {
    padding-top: 30px;
    padding-bottom: 32px;
  }

  .room-hero-container {
    position: relative;
    min-height: 692px;
  }
  .room-hero-title {
    position: absolute;
    top: 139px;
    max-width: 580px;
    font-size: 80px;
  }
  .arrows-container {
    bottom: 72px;
    right: 39%;
    transform: translateX(-100%);
  }
  .room-hero-btn {
    position: absolute;
    top: 331px;
    font-size: 18px;
    line-height: 1.33;
    min-width: 152px;
    height: 42px;
    padding: 9px 24px;
  }

  .slider {
    max-width: 50%;
    position: absolute;
    top: 0;
    right: 0;
  }

  .slider-item-first {
    top: 30px;
    left: 736px;
  }

  .slider-item-second {
    top: 30px;
    left: 1204px;
  }

  .slider-img {
    width: 436px;
    height: 580px;
  }
  .arrow-left {
    right: 682px;
    top: 637px;
  }

  .arrow-right {
    position: absolute;
    right: 615px;
    top: 637px;
  }
  .room-hero-text {
    position: absolute;
    top: 542px;
  }
}
