<!--Header for pages Restaurant Page , Hotel Page , Room Page-->
<header class="header">
   <div class="container header-flex-container">
        <button type="button" class="menu-btn">
    <svg class="btn-menu-open-icon"
        width="28"
        height="28">
        <use href="../icons/icons.svg#icon-menu-open"></use>
    </svg>
        </button>
        <nav class="header-nav">
            <ul class="header-nav-list list">
                <li class="header-nav-item">
                    <a href="" class="header-nav-link link">home</a></li>
                <li class="header-nav-item">
                    <a href="" class="header-nav-link link">hotel</a></li>
                <li class="header-nav-item">
                    <a href="" class="header-nav-link link">restaurant</a></li>
            </ul>
        </nav>
    <div class="header-logo-container">
        <logo><a href="" class="logo-link link">Mimino</a></logo>
        <p class="header-logo-text">restaurant-hotel complex</p>
    </div>
        <ul class="header-soc-list list">
            <li class="header-soc-item">
                <a href="" 
                class="header-soc-link link"></a></li>
            <li class="header-soc-item">
                <a href="" 
                class="header-soc-link link"></a></li>
            <li class="header-soc-item">
                <a href="" 
                class="header-soc-link link"></a></li>
        </ul>
   </div >
  </header>  