<!--for Page Main section Location & contacts-->
<section class="location">
    <div class="container">
        <div class="location-location">
        <h2 class="location-title">Location</h2>

        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2585.923398119502!2d34.524357615985345!3d49.59919397936699!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0YPQuy4g0JzQsNGA0YjQsNC70LAg0JHQuNGA0Y7Qt9C-0LLQsCwgMTUsINCf0L7Qu9GC0LDQstCwLCDQn9C-0LvRgtCw0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgMzYwMDA!5e0!3m2!1sru!2sua!4v1677533433472!5m2!1sru!2sua"
         style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      <address>
        <ul class="location-contact">
            <li> <a class="contact-address" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2585.923398119502!2d34.524357615985345!3d49.59919397936699!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0YPQuy4g0JzQsNGA0YjQsNC70LAg0JHQuNGA0Y7Qt9C-0LLQsCwgMTUsINCf0L7Qu9GC0LDQstCwLCDQn9C-0LvRgtCw0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgMzYwMDA!5e0!3m2!1sru!2sua!4v1677533433472!5m2!1sru!2sua">
                Ukraine, Poltava, St. Marshal Biryuzov, 15 </a>
            </li>
            <div class="tel">
                <h3 class="contact-title">call us:</h3>
                <li> <a class="contact-tel" href="tel:+380955559533"> (095) 555 95 33 </a></li>
                <li> <a class="contact-tel" href="tel:+380668491089"> (066) 849 10 89 </a></li>
            </div>
        </ul>
      </address>   

    </div>
</section>