<!--for Page Main section  Hotel’s details-->
<section class="hotels">
    <div class="hotels-container">
            <div class="hotel-book">
                <h2 class="hotel-title">Hotel</h2>
                <div class="book">
                    <p>Book your stay with us now and experience the epitome of comfort and luxury at our hotel. We
                        guarantee you'll be thrilled with your decision.
                    </p>
                </div>
            </div>
            <div class="hotel-container-small">
            <ul class="list-img">
                <li class="img-details_1">
                    <picture>
                        <source media="(min-width:1440px)"
                            srcset="./img/img-main/main-desktop-hotel1-1x.jpg 1x,./img/img-main/main-desktop-hotel1-2x.jpg 2x">
                        <source
                            srcset="./img/img-main/main-tablet-hotel1-1x.jpg 1x, ./img/img-main/main-tablet-hotel1-2x.jpg 2x"
                            media="(min-width: 768px)" />
                        <source srcset="./img/img-main/main-mob-hotel1-1x.jpg 1x, ./img/img-main/main-mob-hotel1-2x.jpg 2x"
                            media="(max-width: 767px)" />
                        <img src="./img/img-main/main-desktop-hotel1-1x.jpg" alt="foto" />
                    </picture>
                </li>
                <li class="img-details_2">
                    <picture>
                        <source media="(min-width:1440px)"
                            srcset="./img/img-main/main-desktop-hotel2-1x.jpg 1x,./img/img-main/main-desktop-hotel2-2x.jpg 2x">
                        <source
                            srcset="./img/img-main/main-tablet-hotel2-1x.jpg 1x, ./img/img-main/main-tablet-hotel2-2x.jpg 2x"
                            media="(min-width: 768px)" />
                        <source srcset="./img/img-main/main-mob-hotel2-1x.jpg 1x, ./img/img-main/main-mob-hotel2-2x.jpg 2x"
                            media="(max-width: 767px)" />
                        <img src="./img/img-main/main-desktop-hotel2-1x.jpg" alt="foto" />
                    </picture>
                </li>
                <li class="img-details_3">
                    <picture>
                        <source media="(min-width:1440px)"
                            srcset="./img/img-main/main-desktop-hotel3-1x.jpg 1x,./img/img-main/main-desktop-hotel3-2x.jpg 2x">
                        <source
                            srcset="./img/img-main/main-tablet-hotel3-1x.jpg 1x, ./img/img-main/main-tablet-hotel3-2x.jpg 2x"
                            media="(min-width: 768px)" />
                        <source srcset="./img/img-main/main-mob-hotel3-1x.jpg 1x, ./img/img-main/main-mob-hotel3-2x.jpg 2x"
                            media="(max-width: 767px)" />
                        <img src="./img/img-main/main-desktop-hotel3-1x.jpg" alt="foto" />
                    </picture>
                </li>
                <li class="img-details_4">
                    <picture>
                        <source media="(min-width:1440px)"
                            srcset="./img/img-main/main-desktop-hotel4-1x.jpg 1x, ./img/img-main/main-desktop-hotel4-2x.jpg 2x">
                        <source
                            srcset="./img/img-main/main-tablet-hotel4-1x.jpg 1x, ./img/img-main/main-tablet-hotel4-2x.jpg 2x"
                            media="(min-width: 768px)" />
                        <source srcset="./img/img-main/main-mob-hotel4-1x.jpg 1x, ./img/img-main/main-mob-hotel4-2x.jpg 2x"
                            media="(max-width: 767px)" />
                        <img src="./img/img-main/main-desktop-hotel4-1x.jpg" alt="foto" />
                    </picture>
                </li>
                <li class="img-details_5">
                    <picture>
                        <source media="(min-width:1440px)"
                            srcset="./img/img-main/main-desktop-hotel5-1x.jpg 1x,./img/img-main/main-desktop-hotel5-2x.jpg 2x">
                        <source
                            srcset="./img/img-main/main-tablet-hotel5-1x.jpg 1x, ./img/img-main/main-tablet-hotel5-2x.jpg 2x"
                            media="(min-width: 768px)" />
                        <source srcset="./img/img-main/main-mob-hotel5-1x.jpg 1x, ./img/img-main/main-mob-hotel5-2x.jpg 2x"
                            media="(max-width: 767px)" />
                        <img src="./img/img-main/main-desktop-hotel5-1x.jpg" alt="foto" />
                    </picture>
                </li>
            </ul>
        </div >
            <div class="button-centr">
                <button data-modal-open type="button" class="button-dark button-hotel">Book a room</button>
                <a href="page-room.html" data-modal-open type="button" class="button-dark button-hotel">View rooms</a>
            </div>

    </div>
</section>