<!--for Page Main section  Restaurant’s details-->
<section class="restaurants">
  <div class="container restaurants-container">
    <div class="block-restaurant-title">
      <h2 class="restaurant-title">restaurant</h2>
      <p class="restaurant-text">
        Relax and unwind with our delicious offerings, available any time of
        day.
      </p>
    </div>
    <div class="block-slick-mob-tab-pc">
      <div class="block-responsive">
        <div class="responsive">
          <div class="responsive-item">
            <img
              srcset="./img/main-restaurant/slider-img-1-2x.jpg 2x"
              src="./img/main-restaurant/slider-img-1-1x.jpg"
              alt="slick photo"
              class="responsive-img"
              width="266"
            />
          </div>
          <div class="responsive-item">
            <img
              srcset="./img/main-restaurant/slider-img-2-2x.jpg 2x"
              src="./img/main-restaurant/slider-img-2-1x.jpg"
              alt="slick photo"
              class="responsive-img"
              width="266"
            />
          </div>
          <div class="responsive-item">
            <img
              srcset="./img/main-restaurant/slider-img-3-2x.jpg 2x"
              src="./img/main-restaurant/slider-img-3-1x.jpg"
              alt="slick photo"
              class="responsive-img"
              width="266"
            />
          </div>

          <div class="responsive-item">
            <img
              srcset="./img/main-restaurant/slider-img-4-2x.jpg 2x"
              src="./img/main-restaurant/slider-img-4-1x.jpg"
              alt="slick photo"
              class="responsive-img"
              width="266"
            />
          </div>
          <div class="responsive-item">
            <img
              srcset="./img/main-restaurant/slider-img-5-2x.jpg 2x"
              src="./img/main-restaurant/slider-img-5-1x.jpg"
              alt="slick photo"
              class="responsive-img"
              width="266"
            />
          </div>
        </div>
        <div class="restaurant-slick-arrow-block">
          <button type="button" class="restaurant-btn-prev">
            <svg class="restaurant-slick-icon">
              <use href="./img/icons/spray.svg#main-restaurant-icon-prev"></use>
            </svg>
          </button>
          <button type="button" class="restaurant-btn-next">
            <svg class="restaurant-slick-icon">
              <use href="./img/icons/spray.svg#main-restaurant-icon-next"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="block-responsive-tab">
        <div class="responsive-tab">
          <div class="responsive-item">
            <picture class="responsive-img">
              <source
                srcset="
                  ./img/main-restaurant/slider-img-mob-1-1x.jpg 1x,
                  ./img/main-restaurant/slider-img-mob-1-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./img/main-restaurant/slider-img-tab-1-1x.jpg 1x,
                  ./img/main-restaurant/slider-img-tab-1-2x.jpg 2x
                "
                media="(min-width: 768px) and (max-width: 1439px)"
              />
              <source
                srcset="
                  ./img/main-restaurant/slider-img-1-1x.jpg 1x,
                  ./img/main-restaurant/slider-img-1-2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <img
                src="./img/main-restaurant/slider-img-1-1x.jpg"
                alt="slick photo"
              />
            </picture>
          </div>
          <div class="responsive-item">
            <picture class="responsive-img">
              <source
                srcset="
                  ./img/main-restaurant/slider-img-mob-2-1x.jpg 1x,
                  ./img/main-restaurant/slider-img-mob-2-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./img/main-restaurant/slider-img-tab-2-1x.jpg 1x,
                  ./img/main-restaurant/slider-img-tab-2-2x.jpg 2x
                "
                media="(min-width: 768px) and (max-width: 1439px)"
              />
              <source
                srcset="
                  ./img/main-restaurant/slider-img-2-1x.jpg 1x,
                  ./img/main-restaurant/slider-img-2-2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <img
                src="./img/main-restaurant/slider-img-2-1x.jpg"
                alt="slick photo"
              />
            </picture>
          </div>
        </div>
        <div class="restaurant-slick-arrow-block">
          <button type="button" class="restaurant-btn-prev">
            <svg class="restaurant-slick-icon">
              <use href="./img/icons/spray.svg#main-restaurant-icon-prev"></use>
            </svg>
          </button>
          <button type="button" class="restaurant-btn-next">
            <svg class="restaurant-slick-icon">
              <use href="./img/icons/spray.svg#main-restaurant-icon-next"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="restaurant-btn-block">
        <button type="button" class="button-light js-modal-open">
          book a table
        </button>
        <button type="button" class="button-light">View the menu</button>
      </div>
    </div>
  </div>
</section>
